# 2. 파이썬으로 데이터 주무르기, pandas
**pandas를 활용해서 데이터프레임을 다뤄봅시다.**

1. Pandas 시작하기
    - prerequisite : Table
    - pandas import하기
   
2. Pandas로 1차원 데이터 다루기 - Series 
    - Series 선언하기
    - Series vs ndarray
    - Series vs dict
    - Series에 이름 붙이기
3. Pandas로 2차원 데이터 다루기 - dataframe
    - dataframe 선언하기
    - csv 파일을 dataframe으로! : `to_csv()`
    - dataframe 자료 접근하기
    - dataframe 정모하기 : `.groupby()`
    - dataframe 합치기 : `.merge()` 

[수업에 사용된 covid 데이터](https://www.kaggle.com/imdevskp/corona-virus-report)

## I. pandas 시작하기

## II. pandas로 1차원 데이터 다루기 - Series

## III. Pandas로 2차원 데이터 다루기 - dataframe

## Mission:
### 1. covid 데이터에서 100 case 대비 사망률(`Deaths / 100 Cases`)이 가장 높은 국가는?

In [61]:
import pandas as pd

# for google drive
from google.colab import drive
drive.mount('/content/drive')

# my path
path = "/content/drive/MyDrive/Colab Notebooks/kdt/week3/country_wise_latest.csv"

covid = pd.read_csv(path) # read csv
covid_death_100_cases = covid.sort_values(by=['Deaths / 100 Cases'], ascending=False) # Deaths / 100 Cases 기준으로 정렬
covid_death_100_cases['Country/Region'].head(1) # 가장 높은 국가 출력

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

184    Yemen
Name: Country/Region, dtype: object

### 2. covid 데이터에서 신규 확진자가 없는 나라 중 WHO Region이 'Europe'를 모두 출력하면?  
Hint : 한 줄에 동시에 두가지 조건을 Apply하는 경우 Warning이 발생할 수 있습니다.

In [87]:
import pandas as pd

# for google drive
from google.colab import drive
drive.mount('/content/drive')

# my path
path = "/content/drive/MyDrive/Colab Notebooks/kdt/week3/country_wise_latest.csv"

covid = pd.read_csv(path) # read csv
covid_new_recovered_0 = covid[covid['New recovered'] == 0] # 신규 확진자가 없는 나라
covid_europe = covid_new_recovered_0[covid['WHO Region'] == 'Europe'] # WHO Region 이 Europe 인 나라
covid_europe['Country/Region'] # 출력

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if sys.path[0] == '':

3            Andorra
45            Cyprus
46           Czechia
60           Finland
67            Greece
68         Greenland
75          Holy See
77           Hungary
78           Iceland
83           Ireland
95            Latvia
100    Liechtenstein
108            Malta
113           Monaco
120      Netherlands
126           Norway
143       San Marino
147           Serbia
157            Spain
161           Sweden
Name: Country/Region, dtype: object

### 3. 다음 [데이터](https://www.kaggle.com/neuromusic/avocado-prices)를 이용해 각 Region별로 아보카도가 가장 비싼 평균가격(AveragePrice)을 출력하면?

In [86]:
import pandas as pd

# for google drive
from google.colab import drive
drive.mount('/content/drive')

# my path
path = "/content/drive/MyDrive/Colab Notebooks/kdt/week3/avocado.csv"

avocado = pd.read_csv(path) # read csv
avocado_average_price_max = avocado['AveragePrice'].groupby(by=avocado["region"]).max() # 각 Region 별 AveragePrice
avocado_average_price_max.name = "max(AveragePrice)"
avocado_average_price_max

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

region
Albany                 2.13
Atlanta                2.75
BaltimoreWashington    2.28
Boise                  2.79
Boston                 2.19
BuffaloRochester       2.57
California             2.58
Charlotte              2.83
Chicago                2.30
CincinnatiDayton       2.20
Columbus               2.22
DallasFtWorth          1.90
Denver                 2.16
Detroit                2.08
GrandRapids            2.73
GreatLakes             1.98
HarrisburgScranton     2.27
HartfordSpringfield    2.68
Houston                1.92
Indianapolis           2.10
Jacksonville           2.99
LasVegas               3.03
LosAngeles             2.44
Louisville             2.29
MiamiFtLauderdale      3.05
Midsouth               2.17
Nashville              2.24
NewOrleansMobile       2.32
NewYork                2.65
Northeast              2.31
NorthernNewEngland     1.96
Orlando                2.87
Philadelphia           2.45
PhoenixTucson          2.62
Pittsburgh             1.83
Plains                 2.13
Portland               2.86
RaleighGreensboro      3.04
RichmondNorfolk        2.05
Roanoke                2.27
Sacramento             2.82
SanDiego               2.74
SanFrancisco           3.25
Seattle                2.96
SouthCarolina          2.21
SouthCentral           1.81
Southeast              2.33
Spokane                2.95
StLouis                2.84
Syracuse               2.44
Tampa                  3.17
TotalUS                2.09
West                   2.52
WestTexNewMexico       2.93
Name: max(AveragePrice), dtype: float64