# 2. 파이썬으로 데이터 주무르기, pandas
**pandas를 활용해서 데이터프레임을 다뤄봅시다.**

1. Pandas 시작하기
    - prerequisite : Table
    - pandas import하기
   
2. Pandas로 1차원 데이터 다루기 - Series 
    - Series 선언하기
    - Series vs ndarray
    - Series vs dict
    - Series에 이름 붙이기
3. Pandas로 2차원 데이터 다루기 - dataframe
    - dataframe 선언하기
    - csv 파일을 dataframe으로! : `to_csv()`
    - dataframe 자료 접근하기
    - dataframe 정모하기 : `.groupby()`
    - dataframe 합치기 : `.merge()` 

[수업에 사용된 covid 데이터](https://www.kaggle.com/imdevskp/corona-virus-report)

## I. pandas 시작하기

## II. pandas로 1차원 데이터 다루기 - Series

## III. Pandas로 2차원 데이터 다루기 - dataframe

## Mission:
### 1. covid 데이터에서 100 case 대비 사망률(`Deaths / 100 Cases`)이 가장 높은 국가는?

In [45]:
import pandas as pd

covid = pd.read_csv("./country_wise_latest.csv")

covid_by_deaths = covid.sort_values("Deaths / 100 Cases")

covid_by_deaths.tail(1)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean

### 2. covid 데이터에서 신규 확진자가 없는 나라 중 WHO Region이 'Europe'를 모두 출력하면?  
Hint : 한 줄에 동시에 두가지 조건을 Apply하는 경우 Warning이 발생할 수 있습니다.

In [53]:
covid_EU = covid[covid['WHO Region'] == 'Europe']
covid_EU[covid_EU['New cases'] == 0]

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
56,Estonia,2034,69,1923,42,0,0,1,3.39,94.54,3.59,2021,13,0.64,Europe
75,Holy See,12,0,12,0,0,0,0,0.00,100.00,0.00,12,0,0.00,Europe
95,Latvia,1219,31,1045,143,0,0,0,2.54,85.73,2.97,1192,27,2.27,Europe
100,Liechtenstein,86,1,81,4,0,0,0,1.16,94.19,1.23,86,0,0.00,Europe
113,Monaco,116,4,104,8,0,0,0,3.45,89.66,3.85,109,7,6.42,Europe
143,San Marino,699,42,657,0,0,0,0,6.01,93.99,6.39,699,0,0.00,Europe
157,Spain,272421,28432,150376,93613,0,0,0,10.44,55.20,18.91,264836,7585,2.86,Europe

### 3. 다음 [데이터](https://www.kaggle.com/neuromusic/avocado-prices)를 이용해 각 Region별로 아보카도가 가장 비싼 평균가격(AveragePrice)을 출력하면?

In [61]:
avo = pd.read_csv("./avocado.csv")

avo_region = avo.groupby(by = avo["region"])
avo_region.max("AveragePrice")

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year
region,,,,,,,,,,,
Albany,52,2.13,216738.47,34912.97,195725.06,5883.16,36806.79,30126.31,27205.98,2900.00,2018
Atlanta,52,2.75,957792.07,553198.56,211776.98,4251.74,425991.21,292317.81,217337.59,10972.77,2018
BaltimoreWashington,52,2.28,1225103.27,202958.24,805041.45,83652.48,488208.25,483402.85,43483.00,13745.00,2018
Boise,52,2.79,136377.55,69544.59,36532.33,23346.13,93735.23,93645.45,40491.57,1231.57,2018
Boston,52,2.19,999783.13,85204.27,865836.92,81859.54,220254.40,215552.06,52294.16,4745.00,2018
BuffaloRochester,52,2.57,201142.55,26274.97,99364.48,6707.85,101271.16,101271.16,62156.06,5795.00,2018
California,52,2.58,11213596.29,4794142.14,4097591.67,424389.60,3462625.70,3403581.49,508755.56,86800.09,2018
Charlotte,52,2.83,411160.94,95176.35,172311.19,80813.88,223765.32,218181.70,17681.68,5520.00,2018
Chicago,52,2.30,1802646.35,378806.26,1235325.42,224554.50,510679.10,143295.47,423185.75,11540.00,2018
CincinnatiDayton,52,2.20,538518.77,102019.45,224967.68,30149.60,397270.05,165544.38,363468.52,9387.59,2018
Columbus,52,2.22,333398.29,140453.99,61748.67,36191.68,162102.31,135610.65,39927.30,8519.43,2018
DallasFtWorth,52,1.90,1885401.44,1013252.58,509069.75,143875.64,788607.81,673212.32,187840.93,30681.22,2018
Denver,52,2.16,1381528.74,239163.63,608156.34,62908.07,749722.33,326361.97,706052.84,4612.42,2018
Detroit,52,2.08,880540.45,214826.74,287359.89,192417.10,375815.94,349596.64,89516.48,38570.18,2018
GrandRapids,52,2.73,408921.57,7888.33,298897.77,143538.35,87927.29,80548.80,26632.00,43708.82,2018
GreatLakes,52,1.98,7094764.73,1410647.88,3117639.02,704466.56,2141227.31,1436877.51,832296.70,131300.76,2018
HarrisburgScranton,52,2.27,395673.05,125847.54,247409.27,4525.24,120786.61,119477.01,28613.00,11095.48,2018
HartfordSpringfield,52,2.68,522565.33,85641.41,449501.24,23027.59,110584.26,109324.82,28942.00,3881.61,2018
Houston,52,1.92,2381742.59,1134750.48,597855.73,210029.30,1120622.10,1010539.42,629791.58,30753.33,2018
Indianapolis,52,2.10,335442.41,90305.67,181784.28,27708.02,155633.65,104102.69,111176.50,7575.88,2018
Jacksonville,52,2.99,398543.91,206007.07,70592.24,2356.55,141030.88,79274.34,92767.01,5995.00,2018
LasVegas,52,3.03,680234.93,286395.34,212174.53,18141.91,264249.77,93651.31,207843.81,1473.33,2018
LosAngeles,52,2.44,5470227.08,2914047.44,1447533.80,121002.86,2701609.82,2656630.42,362931.85,61316.94,2018
Louisville,52,2.29,169828.77,37508.86,98136.23,10193.62,78880.66,53034.96,55257.34,4074.69,2018
MiamiFtLauderdale,52,3.05,1310671.51,897435.51,281503.40,9947.00,292462.33,120093.14,220080.54,17369.72,2018
Midsouth,52,2.17,5286412.87,1259113.31,2257429.97,388259.15,2299234.65,2062091.77,280722.16,79133.56,2018
Nashville,52,2.24,391780.25,186689.66,59611.16,17578.18,193381.81,186396.09,45308.77,2780.00,2018
NewOrleansMobile,52,2.32,633235.06,400599.94,80089.33,15050.73,161891.76,128875.87,43469.83,16675.00,2018
NewYork,52,2.65,2959541.38,294591.11,2283465.22,279630.35,806773.40,774634.09,305309.26,18757.50,2018
Northeast,52,2.31,7508650.27,736158.49,5402444.45,375904.92,1925092.30,1495884.84,640105.84,69794.85,2018
NorthernNewEngland,52,1.96,847261.25,211564.36,754096.71,64720.71,196316.33,176636.74,154825.16,9655.00,2018
Orlando,52,2.87,759532.37,511953.91,151154.50,2083.82,223889.61,94810.52,155928.30,19396.39,2018
Philadelphia,52,2.45,819224.30,130162.76,511600.73,58242.14,288606.41,261473.35,54389.00,8255.40,2018
PhoenixTucson,52,2.62,2200550.27,1200632.86,531226.65,57213.24,534479.18,330740.57,330583.10,6709.75,2018
Pittsburgh,52,1.83,214738.04,107597.81,145405.43,5316.06,99834.61,48023.13,63248.94,6515.00,2018
Plains,52,2.13,3575499.21,2157030.64,1165322.88,53882.08,869560.91,717323.25,190573.14,52003.87,2018
Portland,52,2.86,1189151.17,264203.19,535324.57,45229.53,737683.65,678871.57,391141.49,7648.30,2018
RaleighGreensboro,52,3.04,552900.21,123228.06,230068.42,88450.29,320856.77,312969.23,19822.48,10935.00,2018
RichmondNorfolk,52,2.05,469093.71,145746.61,168148.89,21686.02,214438.38,187621.35,26710.36,9460.83,2018
Roanoke,52,2.27,287728.25,82020.39,79535.27,2541.99,150169.93,116918.04,32938.52,5763.33,2018
Sacramento,52,2.82,862337.10,321474.22,518775.30,34235.86,136289.77,128164.60,5504.02,7129.43,2018
SanDiego,52,2.74,917660.79,424263.68,439224.74,32042.58,378746.24,318872.23,155614.62,5649.28,2018
SanFrancisco,52,3.25,1706251.05,560686.25,1113987.54,76966.69,236417.93,231913.11,11823.61,10906.94,2018
Seattle,52,2.96,1093144.23,263440.86,578708.75,18076.48,650319.01,573866.81,312387.51,1943.12,2018
SouthCarolina,52,2.21,706098.15,365828.76,182799.50,27248.16,272030.47,200563.64,70398.75,14585.00,2018
SouthCentral,52,1.81,10323174.59,5160896.68,2390282.14,804558.25,4014132.29,3398569.92,1049435.14,108072.79,2018
Southeast,52,2.33,7545938.97,4492704.70,1537592.22,97111.62,2379984.02,1405622.59,1318520.16,92787.50,2018
Spokane,52,2.95,165785.94,46467.69,84741.31,6422.29,89795.19,75098.77,43887.36,331.90,2018
StLouis,52,2.84,348135.49,209893.28,80994.41,895.48,260500.63,225966.72,54426.61,18517.91,2018
Syracuse,52,2.44,113023.35,10004.38,78340.67,3980.63,35695.67,34559.23,22305.58,3005.00,2018
Tampa,52,3.17,893143.94,564685.19,200199.09,2087.35,260556.30,150022.99,150133.37,15976.67,2018
TotalUS,52,2.09,62505646.52,22743616.17,20470572.61,2546439.11,19373134.37,13384586.80,5719096.61,551693.65,2018
West,52,2.52,11274749.11,4377537.67,3872672.00,281618.20,4145406.70,2780258.77,2838239.39,26564.17,2018
WestTexNewMexico,52,2.93,1637554.42,1067388.68,376232.89,74916.26,424013.40,243993.80,287509.52,38120.00,2018