# Pandas
**pandasÎ•º ÌôúÏö©Ìï¥ÏÑú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ Îã§Î§ÑÎ¥ÖÏãúÎã§.**

## I. pandas ÏãúÏûëÌïòÍ∏∞

### Prerequisite : Table

+ ÌñâÍ≥º Ïó¥ÏùÑ Ïù¥Ïö©Ìï¥ÏÑú Îç∞Ïù¥ÌÑ∞Î•º Ï†ÄÏû•ÌïòÍ≥† Í¥ÄÎ¶¨ÌïòÎäî ÏûêÎ£åÍµ¨Ï°∞(Ïª®ÌÖåÏù¥ÎÑà)
+ Ï£ºÎ°ú ÌñâÏùÄ Í∞úÏ≤¥, Ïó¥ÏùÄ ÏÜçÏÑ±ÏùÑ ÎÇòÌÉÄÎÉÑ.
+ import pandas Î•º ÌÜµÌï¥ ÏßÑÌñâ

In [1]:
import pandas as pd

## II. pandasÎ°ú 1Ï∞®Ïõê Îç∞Ïù¥ÌÑ∞ Îã§Î£®Í∏∞ - Series

### Series?

+ 1-D labeld **array**
+ Ïù∏Îç±Ïä§Î•º ÏßÄÏ†ïÌï¥Ï§Ñ Ïàò ÏûàÏùå

In [2]:
s=pd.Series([1,4,8,12,16,34])
s

0     1
1     4
2     8
3    12
4    16
5    34
dtype: int64

In [4]:
t=pd.Series({"one":1, "two": 2, "three":3}) #Ïù∏Îç±Ïä§Î•º ÏßÄÏ†ïÌï†ÏàòÏûàÏúºÎØÄÎ°ú ÎîïÏÖîÎÑàÎ¶¨ÎèÑ Ìò∏Ìôò o
t

one      1
two      2
three    3
dtype: int64

### Series + Numpy

+ SeriesÎäî ndarrayÏôÄ ÎπÑÏä∑

In [5]:
print(s[1], t[1])

4 2

In [6]:
t[1:3]

two      2
three    3
dtype: int64

In [9]:
#seriesÎäî Ï°∞Í±¥ÏùÑ ÏÇ¨Ïö©Ìï¥ÏÑú Ìï¥Îãπ Îç∞Ïù¥ÌÑ∞Î•º Í∞ñÍ≥†Ïò¨ Ïàò ÏûàÏùå
s[s>s.median()] #ÏûêÍ∏∞ ÏûêÏã†Ïùò median(Ï§ëÏïôÍ∞í)Î≥¥Îã§ ÌÅ∞ Îç∞Ïù¥ÌÑ∞Îì§Îßå Ï∂îÏ∂ú

3    12
4    16
5    34
dtype: int64

In [10]:
s[[3,1,4]] #Ïó¨Îü¨ Ïù∏Îç±Ïä§Î•º ÎèôÏãúÏóê Ìïú Î¶¨Ïä§Ìä∏Ïóê Î¨∂Ïñ¥ÏÑú Ï†ÑÎã¨ Í∞ÄÎä•

3    12
1     4
4    16
dtype: int64

In [12]:
import numpy as np

np.exp(s) #sÎ•º ÏßÄÏàòÎ°ú Í∞ñÎäî ÏßÄÏàòÍ∞í

0    2.718282e+00
1    5.459815e+01
2    2.980958e+03
3    1.627548e+05
4    8.886111e+06
5    5.834617e+14
dtype: float64

In [13]:
#seriesÏóê Îã¥Í∏¥ Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ ÌôïÏù∏
s.dtype

dtype('int64')

### Series + dict

+ seriesÎäî **dict** Í≥º ÎπÑÏä∑

In [14]:
t['two']

2

In [17]:
#Series Í∞í Ï∂îÍ∞Ä

t['four']=4
t['five']=5
t

one      1
two      2
three    3
four     4
five     5
dtype: int64

In [19]:
print('two' in t, 'six' in t)

True False

In [21]:
#get Í∞íÏùÑ Í∞ÄÏ†∏Ïò§Îêò, Í∞íÏù¥ ÏóÜÏùÑÎïå ÏòàÏô∏Ï≤òÎ¶¨ÎèÑ Ìï¥Ï£ºÎäî Î©îÏÑúÎìú
t.get('six')
t.get('six', -1) #ÏóÜÏúºÎ©¥ -1 Î∞òÌôò

-1

### SeriesÏóê Ïù¥Î¶Ñ Î∂ôÏù¥Í∏∞

+ name ÏÜçÏÑ±ÏùÑ Í∞ÄÏßê, Ï≤òÏùå SeriesÎ•º ÎßåÎì§ Îïå Ïù¥Î¶Ñ ÏÑ§Ï†ï Í∞ÄÎä•

In [23]:
s=pd.Series(np.random.randn(5), name="random_nums")
s

0    1.499018
1   -0.167270
2    1.742920
3   -0.186888
4    1.067888
Name: random_nums, dtype: float64

In [25]:
s.name="ÏûÑÏùòÏùò ÎÇúÏàò"
s

0    1.499018
1   -0.167270
2    1.742920
3   -0.186888
4    1.067888
Name: ÏûÑÏùòÏùò ÎÇúÏàò, dtype: float64

## III. PandasÎ°ú 2Ï∞®Ïõê Îç∞Ïù¥ÌÑ∞ Îã§Î£®Í∏∞ - dataframe

### dataframe?

+ **2-D** labeld **table**
+ Ïù∏Îç±Ïä§ ÏßÄÏ†ï Í∞ÄÎä•

In [29]:
d={"height":[1,2,3,4], "weight":[20,30,40,50]}

df=pd.DataFrame(d)

df

   height  weight
0       1      20
1       2      30
2       3      40
3       4      50

In [31]:
#numpyÏóêÏÑú dtype ÌôïÏù∏ : np.array.dtype (ÎèôÏùºÌïú Îç∞Ïù¥ÌÑ∞Î•º Îã¥ÏïòÍ∏∞ ÎïåÎ¨∏Ïóê)
#pandas : pc.DataFrame.dtypes (npÏôÄ Îã§Î•¥Í≤å Í∞Å Îç∞Ïù¥ÌÑ∞Î•º Îã¥ÏúºÎãàÍπå)
df.dtypes

height    int64
weight    int64
dtype: object

### From CSV to dataframe

+ csv(Comma Separated Value) -> dataframeÏúºÎ°ú Î≥ÄÍ≤ΩÌïòÍ∏∞
+ .read.csv()Î•º ÌÜµÌï¥ ÏàòÌñâ
+ [ÏàòÏóÖÏóê ÏÇ¨Ïö©Îêú covid Îç∞Ïù¥ÌÑ∞](https://www.kaggle.com/imdevskp/corona-virus-report)

In [35]:
covid=pd.read_csv("./archive/country_wise_latest.csv") #Ìï¥ÎãπÍ≤ΩÎ°úÏùò ÌååÏùºÏùÑ read
covid

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

### Pandas ÌôúÏö© 1. ÏùºÎ∂ÄÎ∂ÑÎßå Í¥ÄÏ∞∞ÌïòÍ∏∞

+ `head(n)` : Ï≤òÏùå nÍ∞úÏùò Îç∞Ïù¥ÌÑ∞ Ï∞∏Ï°∞
+ `tail(n)` : Îí§ÏóêÏÑúÎ∂ÄÌÑ∞ nÍ∞úÏùò Îç∞Ïù¥ÌÑ∞ Ï∞∏Ï°∞

In [38]:
# ÏúÑÏóêÏÑú(Îí§ÏóêÏÑú)Î∂ÄÌÑ∞ 5Í∞ú Îç∞Ïù¥ÌÑ∞Î•º Ï∞∏Ï°∞ÌïòÎäî Ìï®Ïàò : head(), tail()

covid.head(5)

#covid.tail(5)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

### Pandas ÌôúÏö© 2. Îç∞Ïù¥ÌÑ∞ Ï†ëÍ∑ºÌïòÍ∏∞

+ `df['column_name']` or `df.column_name` : ÌäπÏ†ï Ïó¥Ïóê Ìï¥ÎãπÌïòÎäî Îç∞Ïù¥ÌÑ∞ Í∞ÄÏ†∏Ïò§Í∏∞

In [42]:
covid['Confirmed'] #covid.Confirmed

0      36263
1       4880
2      27973
3        907
4        950
       ...
182    10621
183       10
184     1691
185     4552
186     2704
Name: Confirmed, Length: 187, dtype: int64

#### Ïó¥Ïù¥Î¶ÑÏù¥ ÎùÑÏñ¥Ïì∞Í∏∞Í∞Ä ÏûàÎäî Í≤ΩÏö∞ ‚ú®
ÏòàÎ•º Îì§Ïñ¥, `covid.WHO Region`Îäî syntaxError Î∞úÏÉù, Îî∞ÎùºÏÑú `covid['WHO Region']` Î∞©Î≤ï ÏÇ¨Ïö©

In [45]:
covid['WHO Region']

0      Eastern Mediterranean
1                     Europe
2                     Africa
3                     Europe
4                     Africa
               ...
182    Eastern Mediterranean
183                   Africa
184    Eastern Mediterranean
185                   Africa
186                   Africa
Name: WHO Region, Length: 187, dtype: object

### Honey Tip üçØ

+ DataFrameÏùÄ Series Ïùò Î¨∂Ïùå, Ï¶â dataframeÏùò Í∞Å columnÏùÄ series !

In [49]:
type(covid['Confirmed'])

pandas.core.series.Series

In [52]:
covid['Confirmed'][0] #Ïù∏Îç±Ïã± Í∞ÄÎä•

36263

In [53]:
covid['Confirmed'][2:5] #Ïä¨ÎùºÏù¥Ïã± Í∞ÄÎä•

2    27973
3      907
4      950
Name: Confirmed, dtype: int64

### Pandas ÌôúÏö© 3. Ï°∞Í±¥ÏùÑ Ïù¥Ïö©Ìï¥ÏÑú Îç∞Ïù¥ÌÑ∞ Ï†ëÍ∑ºÌïòÍ∏∞

In [55]:
#Ïã†Í∑úÌôïÏßÑÏûêÍ∞Ä 100Î™ÖÏù¥ ÎÑòÎäî ÎÇòÎùº Ï∞æÍ∏∞

covid[covid['New cases']>100].head(5)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
6,Argentina,167416,3059,72575,91782,4890,120,2057,1.83,43.35,4.21,130774,36642,28.02,Americas
8,Australia,15303,167,9311,5825,368,6,137,1.09,60.84,1.79,12428,2875,23.13,Western Pacific

In [59]:
#WHO ReigionÏù¥ ÎèôÎÇ®ÏïÑÏãúÏÇ¨Ïù∏ ÎÇòÎùº Ï∞æÍ∏∞

covid['WHO Region'].unique() #Î®ºÏ†Ä, Î≤îÏ£º Ï¢ÖÎ•ò ÌôïÏù∏ÌïòÍ∏∞

array(['Eastern Mediterranean', 'Europe', 'Africa', 'Americas',
       'Western Pacific', 'South-East Asia'], dtype=object)

In [60]:
covid[covid['WHO Region']=='South-East Asia']

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
13,Bangladesh,226225,2965,125683,97577,2772,37,1801,1.31,55.56,2.36,207453,18772,9.05,South-East Asia
19,Bhutan,99,0,86,13,4,0,1,0.00,86.87,0.00,90,9,10.00,South-East Asia
27,Burma,350,6,292,52,0,0,2,1.71,83.43,2.05,341,9,2.64,South-East Asia
79,India,1480073,33408,951166,495499,44457,637,33598,2.26,64.26,3.51,1155338,324735,28.11,South-East Asia
80,Indonesia,100303,4838,58173,37292,1525,57,1518,4.82,58.00,8.32,88214,12089,13.70,South-East Asia
106,Maldives,3369,15,2547,807,67,0,19,0.45,75.60,0.59,2999,370,12.34,South-East Asia
119,Nepal,18752,48,13754,4950,139,3,626,0.26,73.35,0.35,17844,908,5.09,South-East Asia
158,Sri Lanka,2805,11,2121,673,23,0,15,0.39,75.61,0.52,2730,75,2.75,South-East Asia
167,Thailand,3297,58,3111,128,6,0,2,1.76,94.36,1.86,3250,47,1.45,South-East Asia
168,Timor-Leste,24,0,0,24,0,0,0,0.00,0.00,0.00,24,0,0.00,South-East Asia

### Pandas ÌôúÏö© 4. ÌñâÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Îç∞Ïù¥ÌÑ∞ Ï†ëÍ∑ºÌïòÍ∏∞

+ ÏòàÏãú Îç∞Ïù¥ÌÑ∞ - ÎèÑÏÑúÍ¥Ä Ï†ïÎ≥¥

In [62]:
books_dict={"Available":[True, True, False], "Location":[102, 215, 323], "Genre":["Prograaming", "Physics", "Math"]}

books_df=pd.DataFrame(books_dict, index=['Î≤ÑÍ∑∏ÎûÄ Î¨¥ÏóáÏù∏Í∞Ä', 'ÎëêÍ∑ºÎëêÍ∑º Î¨ºÎ¶¨Ìïô', 'ÎØ∏Î∂ÑÌï¥Ï§ò ÌôàÏ¶à'])

books_df

          Available  Location        Genre
Î≤ÑÍ∑∏ÎûÄ Î¨¥ÏóáÏù∏Í∞Ä       True       102  Prograaming
ÎëêÍ∑ºÎëêÍ∑º Î¨ºÎ¶¨Ìïô       True       215      Physics
ÎØ∏Î∂ÑÌï¥Ï§ò ÌôàÏ¶à       False       323         Math

### Ïù∏Îç±Ïä§Î•º Ïù¥Ïö©Ìï¥ÏÑú Í∞ÄÏ†∏Ïò§Í∏∞ : `.loc[row, col]`

In [65]:
books_df.loc["ÎëêÍ∑ºÎëêÍ∑º Î¨ºÎ¶¨Ìïô"]

Available       True
Location         215
Genre        Physics
Name: ÎëêÍ∑ºÎëêÍ∑º Î¨ºÎ¶¨Ìïô, dtype: object

In [66]:
# 'ÎØ∏Î∂ÑÌï¥Ï§ò ÌôàÏ¶à' Ï±ÖÏù¥ ÎåÄÏ∂úÍ∞ÄÎä•ÌïúÍ∞Ä?

books_df.loc["ÎØ∏Î∂ÑÌï¥Ï§ò ÌôàÏ¶à", "Available"]

False

### Ïà´Ïûê Ïù∏Îç±Ïä§Î•º Ïù¥Ïö©Ìï¥ÏÑú Í∞ÄÏ†∏Ïò§Í∏∞ : `.iloc[row_index, col_index]`

In [68]:
books_df.iloc[2,0] #dataframeÏóêÏÑú 2ÌñâÏùò 1Ïó¥ Í∞ÄÏßÄÍ≥† Ïò§Í∏∞

False

In [69]:
books_df.iloc[1, 0:2] #dataframeÏóêÏÑú 1ÌñâÏùò 0~1Ïó¥ Í∞ÄÏßÄÍ≥† Ïò§Í∏∞

Available    True
Location      215
Name: ÎëêÍ∑ºÎëêÍ∑º Î¨ºÎ¶¨Ìïô, dtype: object

### Pandas ÌôúÏö© 5. groupby ‚ú®

+ Split : ÌäπÏ†ïÌïú Í∏∞Ï§ÄÏùÑ Î∞îÌÉïÏúºÎ°ú DataFrameÏùÑ Î∂ÑÌï†
+ Apply : ÌÜµÍ≥ÑÌï®Ïàò (sum(), mean(), median()..)ÏùÑ Ï†ÅÏö©Ìï¥ÏÑú Í∞Å Îç∞Ïù¥ÌÑ∞ ÏïïÏ∂ï
+ Combine : ApplyÎêú Í≤∞Í≥ºÎ•º Î∞îÌÉïÏúºÎ°ú ÏÉàÎ°úÏö¥ SeriesÎ•º ÏÉùÏÑ±(group_key:applied_value)

In [70]:
covid

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

In [72]:
#WHO RegionÎ≥Ñ ÌôïÏßÑÏûêÏàò

# 1. covid ÏóêÏÑú ÌôïÏßÑÏûê Ïàò columnÎßå Ï∂îÏ∂ú
# 2. Ïù¥Î•º covidÏùò WHO RegionÏùÑ Í∏∞Ï§ÄÏúºÎ°ú groupby Ïã§Ìñâ

covid_by_region=covid['Confirmed'].groupby(by=covid["WHO Region"])

covid_by_region

In [73]:
covid_by_region.sum()

WHO Region
Africa                    723207
Americas                 8839286
Eastern Mediterranean    1490744
Europe                   3299523
South-East Asia          1835297
Western Pacific           292428
Name: Confirmed, dtype: int64

In [74]:
# Íµ≠Í∞ÄÎãπ Í∞êÏóºÏûê Ïàò

covid_by_region.mean() #sum()/Íµ≠Í∞ÄÏàò

WHO Region
Africa                    15066.812500
Americas                 252551.028571
Eastern Mediterranean     67761.090909
Europe                    58920.053571
South-East Asia          183529.700000
Western Pacific           18276.750000
Name: Confirmed, dtype: float64

## Mission:
### 1. covid Îç∞Ïù¥ÌÑ∞ÏóêÏÑú 100 case ÎåÄÎπÑ ÏÇ¨ÎßùÎ•†(`Deaths / 100 Cases`)Ïù¥ Í∞ÄÏû• ÎÜíÏùÄ Íµ≠Í∞ÄÎäî?

In [89]:
# Deaths/100cases

max_death_rate=covid['Deaths / 100 Cases'].argmax() #ÏµúÎåÄÍ∞í index

covid["Country/Region"][max_death_rate]

'Yemen'

### 2. covid Îç∞Ïù¥ÌÑ∞ÏóêÏÑú Ïã†Í∑ú ÌôïÏßÑÏûêÍ∞Ä ÏóÜÎäî ÎÇòÎùº Ï§ë WHO RegionÏù¥ 'Europe'Î•º Î™®Îëê Ï∂úÎ†•ÌïòÎ©¥?  
Hint : Ìïú Ï§ÑÏóê ÎèôÏãúÏóê ÎëêÍ∞ÄÏßÄ Ï°∞Í±¥ÏùÑ ApplyÌïòÎäî Í≤ΩÏö∞ WarningÏù¥ Î∞úÏÉùÌï† Ïàò ÏûàÏäµÎãàÎã§.

In [92]:
not_have_new_case=covid[covid['New cases']==0] #Î®ºÏ†Ä Ïã†Í∑úÌôïÏßÑÏûêÍ∞Ä ÏóÜÎäî ÎÇòÎùº Ï∂îÏ∂ú
not_have_new_case[not_have_new_case["WHO Region"]=='Europe'] #Í∑∏ Ï§ë WHO Region==Europe Ïù∏ Îç∞Ïù¥ÌÑ∞ Ï∂îÏ∂ú

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
56,Estonia,2034,69,1923,42,0,0,1,3.39,94.54,3.59,2021,13,0.64,Europe
75,Holy See,12,0,12,0,0,0,0,0.00,100.00,0.00,12,0,0.00,Europe
95,Latvia,1219,31,1045,143,0,0,0,2.54,85.73,2.97,1192,27,2.27,Europe
100,Liechtenstein,86,1,81,4,0,0,0,1.16,94.19,1.23,86,0,0.00,Europe
113,Monaco,116,4,104,8,0,0,0,3.45,89.66,3.85,109,7,6.42,Europe
143,San Marino,699,42,657,0,0,0,0,6.01,93.99,6.39,699,0,0.00,Europe
157,Spain,272421,28432,150376,93613,0,0,0,10.44,55.20,18.91,264836,7585,2.86,Europe

### 3. Îã§Ïùå [Îç∞Ïù¥ÌÑ∞](https://www.kaggle.com/neuromusic/avocado-prices)Î•º Ïù¥Ïö©Ìï¥ Í∞Å RegionÎ≥ÑÎ°ú ÏïÑÎ≥¥Ïπ¥ÎèÑÍ∞Ä Í∞ÄÏû• ÎπÑÏãº ÌèâÍ∑†Í∞ÄÍ≤©(AveragePrice)ÏùÑ Ï∂úÎ†•ÌïòÎ©¥?

In [94]:
avocado=pd.read_csv('./archive/avocado.csv') #avocado data road...
avocado

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
18245,8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [97]:
# Í∞Å ÏßÄÏó≠Î≥Ñ AveragePrice

avocado_by_region=avocado['AveragePrice'].groupby(by=avocado['region']) #ÏßÄÏó≠Î≥Ñ ÌèâÍ∑†Í∞ÄÍ≤©
avocado_by_region.max()

region
Albany                 2.13
Atlanta                2.75
BaltimoreWashington    2.28
Boise                  2.79
Boston                 2.19
BuffaloRochester       2.57
California             2.58
Charlotte              2.83
Chicago                2.30
CincinnatiDayton       2.20
Columbus               2.22
DallasFtWorth          1.90
Denver                 2.16
Detroit                2.08
GrandRapids            2.73
GreatLakes             1.98
HarrisburgScranton     2.27
HartfordSpringfield    2.68
Houston                1.92
Indianapolis           2.10
Jacksonville           2.99
LasVegas               3.03
LosAngeles             2.44
Louisville             2.29
MiamiFtLauderdale      3.05
Midsouth               2.17
Nashville              2.24
NewOrleansMobile       2.32
NewYork                2.65
Northeast              2.31
NorthernNewEngland     1.96
Orlando                2.87
Philadelphia           2.45
PhoenixTucson          2.62
Pittsburgh             1.83
Plains                 2.13
Portland               2.86
RaleighGreensboro      3.04
RichmondNorfolk        2.05
Roanoke                2.27
Sacramento             2.82
SanDiego               2.74
SanFrancisco           3.25
Seattle                2.96
SouthCarolina          2.21
SouthCentral           1.81
Southeast              2.33
Spokane                2.95
StLouis                2.84
Syracuse               2.44
Tampa                  3.17
TotalUS                2.09
West                   2.52
WestTexNewMexico       2.93
Name: AveragePrice, dtype: float64