# 2. 파이썬으로 데이터 주무르기, pandas
**pandas를 활용해서 데이터프레임을 다뤄봅시다.**

1. Pandas 시작하기
    - prerequisite : Table
    - pandas import하기
   
2. Pandas로 1차원 데이터 다루기 - Series 
    - Series 선언하기
    - Series vs ndarray
    - Series vs dict
    - Series에 이름 붙이기
3. Pandas로 2차원 데이터 다루기 - dataframe
    - dataframe 선언하기
    - from csv to dataframe
    - dataframe 자료 접근하기

[수업에 사용된 covid 데이터](https://www.kaggle.com/imdevskp/corona-virus-report)

## I. pandas 시작하기

## II. pandas로 1차원 데이터 다루기 - Series

## III. Pandas로 2차원 데이터 다루기 - dataframe

## Mission:
### 1. covid 데이터에서 100 case 대비 사망률(`Deaths / 100 Cases`)이 가장 높은 국가는?

In [38]:
import pandas as pd
import matplotlib.pyplot
import matplotlib.font_manager as fm
import os

os.chdir('E:\data')
covid_data = pd.read_csv('./data01/covid_19_clean_complete.csv')

In [39]:
covid_data.tail(5)

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
49063,NaN,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [40]:
covid_deaths = covid_data.groupby('Country/Region')['Deaths'].sum()
covid_confirmed = covid_data.groupby('Country/Region')['Confirmed'].sum()
covid_deaths_100 = (covid_deaths / covid_confirmed) * 100
covid_deaths_100

Country/Region
Afghanistan            2.535543
Albania                2.901852
Algeria                6.609169
Andorra                5.744460
Angola                 4.756862
                        ...
West Bank and Gaza     0.586822
Western Sahara         6.992231
Yemen                 26.357547
Zambia                 2.042172
Zimbabwe               1.734457
Length: 187, dtype: float64

In [41]:
covid_deaths_100[covid_deaths_100 == max(covid_deaths_100)]

Country/Region
Yemen    26.357547
dtype: float64

## Yemen ##

### 2. covid 데이터에서 신규 확진자가 없는 나라 중 WHO Region이 'Europe'를 모두 출력하면?  
Hint : 한 줄에 동시에 두가지 조건을 Apply하는 경우 Warning이 발생할 수 있습니다.

In [42]:
no_confirmed = covid_data[covid_data['Confirmed'] == 0]
no_confirmed

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...,...
28187,NaN,Lesotho,-29.61000,28.233600,2020-05-08,0,0,0,0,Africa
28448,NaN,Lesotho,-29.61000,28.233600,2020-05-09,0,0,0,0,Africa
28709,NaN,Lesotho,-29.61000,28.233600,2020-05-10,0,0,0,0,Africa
28970,NaN,Lesotho,-29.61000,28.233600,2020-05-11,0,0,0,0,Africa
29231,NaN,Lesotho,-29.61000,28.233600,2020-05-12,0,0,0,0,Africa

In [46]:
no_confirmed_europe = no_confirmed[no_confirmed['WHO Region'] == 'Europe'].reset_index()
no_confirmed_europe

,index,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,1,NaN,Albania,41.1533,20.1683,2020-01-22,0,0,0,0,Europe
1,3,NaN,Andorra,42.5063,1.5218,2020-01-22,0,0,0,0,Europe
2,7,NaN,Armenia,40.0691,45.0382,2020-01-22,0,0,0,0,Europe
3,16,NaN,Austria,47.5162,14.5501,2020-01-22,0,0,0,0,Europe
4,17,NaN,Azerbaijan,40.1431,47.5769,2020-01-22,0,0,0,0,Europe
...,...,...,...,...,...,...,...,...,...,...,...
3378,24793,NaN,Tajikistan,38.8610,71.2761,2020-04-25,0,0,0,0,Europe
3379,25054,NaN,Tajikistan,38.8610,71.2761,2020-04-26,0,0,0,0,Europe
3380,25315,NaN,Tajikistan,38.8610,71.2761,2020-04-27,0,0,0,0,Europe
3381,25576,NaN,Tajikistan,38.8610,71.2761,2020-04-28,0,0,0,0,Europe
3382,25837,NaN,Tajikistan,38.8610,71.2761,2020-04-29,0,0,0,0,Europe

### 3. 다음 [데이터](https://www.kaggle.com/neuromusic/avocado-prices)를 이용해 각 Region별로 아보카도가 가장 비싼 평균가격(AveragePrice)을 출력하면?

In [45]:
avocado_data = pd.read_csv('./data01/avocado.csv')
avocado_data

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
18245,8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [47]:
avocado_price = avocado_data.groupby('region')['AveragePrice'].max()
avocado_price

region
Albany                 2.13
Atlanta                2.75
BaltimoreWashington    2.28
Boise                  2.79
Boston                 2.19
BuffaloRochester       2.57
California             2.58
Charlotte              2.83
Chicago                2.30
CincinnatiDayton       2.20
Columbus               2.22
DallasFtWorth          1.90
Denver                 2.16
Detroit                2.08
GrandRapids            2.73
GreatLakes             1.98
HarrisburgScranton     2.27
HartfordSpringfield    2.68
Houston                1.92
Indianapolis           2.10
Jacksonville           2.99
LasVegas               3.03
LosAngeles             2.44
Louisville             2.29
MiamiFtLauderdale      3.05
Midsouth               2.17
Nashville              2.24
NewOrleansMobile       2.32
NewYork                2.65
Northeast              2.31
NorthernNewEngland     1.96
Orlando                2.87
Philadelphia           2.45
PhoenixTucson          2.62
Pittsburgh             1.83
Plains                 2.13
Portland               2.86
RaleighGreensboro      3.04
RichmondNorfolk        2.05
Roanoke                2.27
Sacramento             2.82
SanDiego               2.74
SanFrancisco           3.25
Seattle                2.96
SouthCarolina          2.21
SouthCentral           1.81
Southeast              2.33
Spokane                2.95
StLouis                2.84
Syracuse               2.44
Tampa                  3.17
TotalUS                2.09
West                   2.52
WestTexNewMexico       2.93
Name: AveragePrice, dtype: float64