<h1> Mission 1.Netflix and Code</h1>  

---

 호주니는 요즘 넷플릭스를 보는데 심취해있다. 최근 넷플릭스와 협업하는 K-Contents가 늘어가는 것을 보면서 자부심을 느끼는 한편, 넷플릭스에 얼마나 많은 한국 작품이 있는지 궁금해졌다. 호주니를 도와 넷플릭스에 얼마나 많은 한국 작품이 있는지 알아보자.
 
![image](https://user-images.githubusercontent.com/59414764/117310802-96aef600-aebe-11eb-8bf6-c497ebb2dd41.png)

<h2> Mandatory Part </h2>

<a href="https://www.kaggle.com/shivamb/netflix-shows">넷플릭스 데이터</a>가 주어졌을 때, 다음 질문에 답하시오:

<ul>
    <li>
        <strong>한국 작품</strong>은 총 얼마나 있는가?
        <ul>
            <li>
                country column을 기준으로 한다.
            </li>
            <li>
                "South Korea"인 경우만 인정한다.("US, South Korea"는 인정하지 않음)
            </li>
        </ul>
    </li>
</ul>

생각보다 많은 작품이 있었음에 놀란 호주니는 K-콘텐츠를 넘어 글로벌 콘텐츠에 관심을 가지게 되었다. 이 과정에서 가장 많은 콘텐츠가 있는 국가는 어디일지 궁금해졌다. 호주니를 도와 이번에는 넷플릭스에서 가장 많은 작품을 만든 나라가 어디이고, 얼마나 많은 작품을 produce했는지 알아보자.

In [2]:
import numpy as np
import pandas as pd

In [3]:
data_folder_dir = "~/ML Data/"

netflix = pd.read_csv(data_folder_dir + 'netflix_titles.csv')

In [4]:
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [5]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

In [6]:
netflix_country = netflix['country']

In [7]:
# 방법 1
answer = netflix_country.value_counts()['South Korea']

print("답: 넷플릭스에서 한국 작품은 총 {}개 있습니다.".format(answer))

답: 넷플릭스에서 한국 작품은 총 183개 있습니다.

In [8]:
# 방법 2
answer = netflix[netflix_country=='South Korea'].shape[0]

print("답: 넷플릭스에서 한국 작품은 총 {}개 있습니다.".format(answer))

답: 넷플릭스에서 한국 작품은 총 183개 있습니다.

<h2>Bonus Part</h2>  

<a href="https://www.kaggle.com/shivamb/netflix-shows">넷플릭스 데이터</a>가 주어졌을 때, 다음 질문에 답하시오:

<ul>
    <li>
        가장 많은 작품이 올라간 국가는 어디이고, 얼마나 많은 작품이 있는가?
        <ul>
            <li>
                country column을 기준으로 한다.
            </li>
            <li>
                <Strong>단일 국가</Strong>인 경우를 기준으로 결과를 구해보자.
            </li>
        </ul>
    </li>
</ul>

In [9]:
country_cnts = netflix_country.value_counts()
max_country = country_cnts.idxmax()
max_country_value = country_cnts.max()

print("가장 많은 국가는 {}(이)고, {}개의 작품이 {}에서 만들어졌습니다.".format(max_country, max_country_value, max_country))

가장 많은 국가는 United States(이)고, 2555개의 작품이 United States에서 만들어졌습니다.

In [10]:
max_country_join = {}
for country in netflix['country'].unique():
    if type(country) == str and max_country in country:
        max_country_join[country] = country_cnts[country]

join_list = (','.join(max_country_join.keys())).replace(", ",",").split(',')
join_list = list(filter(lambda x: x and x != max_country, set(join_list)))
join_country_sum = sum(max_country_join.values())

print("{}는 아래와 같은 나라와 공동으로 참여했으며, 자체 제작, 공동 제작을 모두 합하면 {}개의 작품을 만들었습니다.\n".format(max_country, join_country_sum))
print(join_list)

United States는 아래와 같은 나라와 공동으로 참여했으며, 자체 제작, 공동 제작을 모두 합하면 3297개의 작품을 만들었습니다.

['Japan', 'Belgium', 'Ukraine', 'Austria', 'Argentina', 'Hong Kong', 'Dominican Republic', 'United Arab Emirates', 'Uganda', 'South Africa', 'Venezuela', 'France', 'Thailand', 'India', 'Netherlands', 'Australia', 'Zimbabwe', 'Czech Republic', 'Taiwan', 'Hungary', 'Mongolia', 'Norway', 'Italy', 'Uruguay', 'Samoa', 'Turkey', 'Bangladesh', 'Portugal', 'East Germany', 'South Korea', 'Poland', 'Qatar', 'Cayman Islands', 'Spain', 'Philippines', 'Ecuador', 'Brazil', 'China', 'Panama', 'Denmark', 'Sudan', 'Canada', 'Puerto Rico', 'Jordan', 'Nicaragua', 'Iceland', 'Namibia', 'Israel', 'Morocco', 'Bahamas', 'Somalia', 'United Kingdom', 'Indonesia', 'Romania', 'Greece', 'New Zealand', 'Pakistan', 'Sweden', 'Cambodia', 'Luxembourg', 'Chile', 'Singapore', 'Iraq', 'Kenya', 'Nigeria', 'Peru', 'Switzerland', 'Germany', 'Malta', 'Serbia', 'Russia', 'Botswana', 'Liechtenstein', 'Egypt', 'Ireland', 'Armenia', 'Ghana', 'Senegal', 'Colombia', 'Mexico', 'Kazakhstan', 'Bermuda', 'Lebanon', 'Bulgaria', 'Saudi Arabia', 'Finland', 'Jamaica', 'West Germany', 'Iran']

<h1>Mission 2.가즈아!</h1>

---

서울의 소시민 나일론 마스크는 요즘 가상화폐에 푹 빠져있다. 매일매일 극락과 지옥을 오가는 매운맛에 정신을 못 차리고 있는데, 그의 친구인 호주니는 그에게 정신차리게 하기 위해 비트코인 광풍이 일었던 2017년 한 해의 가격의 변화를 보여주려고 한다. 그런데 매일매일의 데이터를 보여주는 것보다 이것의 추세를 표현해주면 좋겠다는 생각이 들어 <Strong>Moving Average(이동평균법)</Strong> 를 도입하고자 한다. 호주니를 도와 마스크씨를 설득해보자.
![image](https://user-images.githubusercontent.com/59414764/117319048-e93fe080-aec5-11eb-934f-63328b3e05cf.png)

<h2>Mandatory Part</h2>

--- 

<a href="https://www.kaggle.com/rishidamarla/bitcoin-prices-20112015">비트코인 데이터</a>가 주어졌을 때 2016. 6 ~ 2017. 6 기간의 <strong>비트코인의 5-MA 그래프와 이더리움의 5-MA 그래프를 동시에</strong> 그려주세요.

<ul>
    <li>
        선의 색깔은 <strong>노란색(#f2a900)</strong> 으로 해야합니다.
    </li>
    <li>
        x-axis label과 y-axis label은 적절한 텍스트로 추가되어야 합니다.
    </li>
    <li>
        이동평균의 기준은 Open Column으로 계산합니다.
    </li>
    <li>
        이외에도 그래프를 알아보기 쉽게 하기 위한 정보(Text, Facet 등)을 추가하는 것도 좋습니다.
    </li>
</ul>

💡 이동평균(Moving Average)법은 시계열 데이터를 표현하는 데에 많이 사용하는 방법 중 하나입니다.

---

해당 그래프를 본 나일론 마스크씨는 정신을 차렸다. 정확히는 비트코인만 바라본 본인을 말이다. 정말 많은 가상화폐가 있는데 비트코인만 바라본 본인을 돌아보게 되었다. 더불어 가장 핫한 코인인 이더리움 또한 관심이 생겼는데, 마스크씨는 2017년 한 해에 이 두개의 추세를 비교하고싶어한다. 마스크씨를 도와 비트코인과 이더리움의 가격 추세 비교를 도와주자.

---

In [11]:
bitcoin = pd.read_csv(data_folder_dir + 'BitCoin.csv')
bitcoin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1609 entries, 0 to 1608
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1609 non-null   int64
 1   Date        1609 non-null   object
 2   Open        1609 non-null   float64
 3   High        1609 non-null   float64
 4   Low         1609 non-null   float64
 5   Close       1609 non-null   float64
 6   Volume      1609 non-null   float64
 7   Market Cap  1609 non-null   int64
dtypes: float64(5), int64(2), object(1)
memory usage: 100.7+ KB

In [12]:
bitcoin.head()

,Unnamed: 0,Date,Open,High,Low,Close,Volume,Market Cap
0,0,2017-09-22,3628.02,3758.27,3553.53,3630.70,1.194830e+09,60152300000
1,1,2017-09-21,3901.47,3916.42,3613.63,3631.04,1.411480e+09,64677600000
2,2,2017-09-20,3916.36,4031.39,3857.73,3905.95,1.213830e+09,64918500000
3,3,2017-09-19,4073.79,4094.07,3868.87,3924.97,1.563980e+09,67520300000
4,4,2017-09-18,3591.09,4079.23,3591.09,4065.20,1.943210e+09,59514100000

In [19]:
period = pd.period_range(start = '2016-06-01', end = '2017-06-30', freq = 'D')

In [20]:
bitcoin[bitcoin['Date'] in period]

TypeError: 'Series' objects are mutable, thus they cannot be hashed