# Mission 1. Netflix and Code

## Mandatory Part: 한국 작품 수 구하기

In [1]:
import pandas as pd

In [3]:
netflix = pd.read_csv("./netflix_titles.csv")
netflix.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

### 한국 작품은 총 몇 작품?

In [12]:
netflix_korea = netflix[netflix['country']=="South Korea"].show_id
count = netflix_korea.count()
print("한국 작품 총 %d개"%count)

한국 작품 총 183개

## Bonus Part: 가장 많은 콘텐츠가 있는 국가는?
- 넷플릭스에서 가장 많은 작품을 만든 나라
- 얼마나 많은 작품 제작했는지

In [119]:
netflix.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...

In [143]:
import numpy as np

In [160]:
countries = netflix['country'].dropna().unique()
countries = set([country for country in countries if ',' not in str(country)])

In [180]:
netflix_by_country = netflix['show_id'].groupby(by=netflix['country']).count()
netflix_by_country.max()

2555