<h1> Mission 1.Netflix and Code</h1>  

---

 í˜¸ì£¼ë‹ˆëŠ” ìš”ì¦˜ ë„·í”Œë¦­ìŠ¤ë¥¼ ë³´ëŠ”ë° ì‹¬ì·¨í•´ìˆë‹¤. ìµœê·¼ ë„·í”Œë¦­ìŠ¤ì™€ í˜‘ì—…í•˜ëŠ” K-Contentsê°€ ëŠ˜ì–´ê°€ëŠ” ê²ƒì„ ë³´ë©´ì„œ ìë¶€ì‹¬ì„ ëŠë¼ëŠ” í•œí¸, ë„·í”Œë¦­ìŠ¤ì— ì–¼ë§ˆë‚˜ ë§ì€ í•œêµ­ ì‘í’ˆì´ ìˆëŠ”ì§€ ê¶ê¸ˆí•´ì¡Œë‹¤. í˜¸ì£¼ë‹ˆë¥¼ ë„ì™€ ë„·í”Œë¦­ìŠ¤ì— ì–¼ë§ˆë‚˜ ë§ì€ í•œêµ­ ì‘í’ˆì´ ìˆëŠ”ì§€ ì•Œì•„ë³´ì.
 
![image](https://user-images.githubusercontent.com/59414764/117310802-96aef600-aebe-11eb-8bf6-c497ebb2dd41.png)

<h2> Mandatory Part </h2>

<a href="https://www.kaggle.com/shivamb/netflix-shows">ë„·í”Œë¦­ìŠ¤ ë°ì´í„°</a>ê°€ ì£¼ì–´ì¡Œì„ ë•Œ, ë‹¤ìŒ ì§ˆë¬¸ì— ë‹µí•˜ì‹œì˜¤:

<ul>
    <li>
        <strong>í•œêµ­ ì‘í’ˆ</strong>ì€ ì´ ì–¼ë§ˆë‚˜ ìˆëŠ”ê°€?
        <ul>
            <li>
                country columnì„ ê¸°ì¤€ìœ¼ë¡œ í•œë‹¤.
            </li>
            <li>
                "South Korea"ì¸ ê²½ìš°ë§Œ ì¸ì •í•œë‹¤.("US, South Korea"ëŠ” ì¸ì •í•˜ì§€ ì•ŠìŒ)
            </li>
        </ul>
    </li>
</ul>

ìƒê°ë³´ë‹¤ ë§ì€ ì‘í’ˆì´ ìˆì—ˆìŒì— ë†€ë€ í˜¸ì£¼ë‹ˆëŠ” K-ì½˜í…ì¸ ë¥¼ ë„˜ì–´ ê¸€ë¡œë²Œ ì½˜í…ì¸ ì— ê´€ì‹¬ì„ ê°€ì§€ê²Œ ë˜ì—ˆë‹¤. ì´ ê³¼ì •ì—ì„œ ê°€ì¥ ë§ì€ ì½˜í…ì¸ ê°€ ìˆëŠ” êµ­ê°€ëŠ” ì–´ë””ì¼ì§€ ê¶ê¸ˆí•´ì¡Œë‹¤. í˜¸ì£¼ë‹ˆë¥¼ ë„ì™€ ì´ë²ˆì—ëŠ” ë„·í”Œë¦­ìŠ¤ì—ì„œ ê°€ì¥ ë§ì€ ì‘í’ˆì„ ë§Œë“  ë‚˜ë¼ê°€ ì–´ë””ì´ê³ , ì–¼ë§ˆë‚˜ ë§ì€ ì‘í’ˆì„ produceí–ˆëŠ”ì§€ ì•Œì•„ë³´ì.

In [2]:
import numpy as np
import pandas as pd

In [3]:
data_folder_dir = "~/ML Data/"

netflix = pd.read_csv(data_folder_dir + 'netflix_titles.csv')

In [4]:
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"JoÃ£o Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"DemiÃ¡n Bichir, HÃ©ctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [5]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

In [6]:
netflix_country = netflix['country']

In [7]:
# ë°©ë²• 1
answer = netflix_country.value_counts()['South Korea']

print("ë‹µ: ë„·í”Œë¦­ìŠ¤ì—ì„œ í•œêµ­ ì‘í’ˆì€ ì´ {}ê°œ ìˆìŠµë‹ˆë‹¤.".format(answer))

ë‹µ: ë„·í”Œë¦­ìŠ¤ì—ì„œ í•œêµ­ ì‘í’ˆì€ ì´ 183ê°œ ìˆìŠµë‹ˆë‹¤.

In [8]:
# ë°©ë²• 2
answer = netflix[netflix_country=='South Korea'].shape[0]

print("ë‹µ: ë„·í”Œë¦­ìŠ¤ì—ì„œ í•œêµ­ ì‘í’ˆì€ ì´ {}ê°œ ìˆìŠµë‹ˆë‹¤.".format(answer))

ë‹µ: ë„·í”Œë¦­ìŠ¤ì—ì„œ í•œêµ­ ì‘í’ˆì€ ì´ 183ê°œ ìˆìŠµë‹ˆë‹¤.

<h2>Bonus Part</h2>  

<a href="https://www.kaggle.com/shivamb/netflix-shows">ë„·í”Œë¦­ìŠ¤ ë°ì´í„°</a>ê°€ ì£¼ì–´ì¡Œì„ ë•Œ, ë‹¤ìŒ ì§ˆë¬¸ì— ë‹µí•˜ì‹œì˜¤:

<ul>
    <li>
        ê°€ì¥ ë§ì€ ì‘í’ˆì´ ì˜¬ë¼ê°„ êµ­ê°€ëŠ” ì–´ë””ì´ê³ , ì–¼ë§ˆë‚˜ ë§ì€ ì‘í’ˆì´ ìˆëŠ”ê°€?
        <ul>
            <li>
                country columnì„ ê¸°ì¤€ìœ¼ë¡œ í•œë‹¤.
            </li>
            <li>
                <Strong>ë‹¨ì¼ êµ­ê°€</Strong>ì¸ ê²½ìš°ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ê²°ê³¼ë¥¼ êµ¬í•´ë³´ì.
            </li>
        </ul>
    </li>
</ul>

In [9]:
country_cnts = netflix_country.value_counts()
max_country = country_cnts.idxmax()
max_country_value = country_cnts.max()

print("ê°€ì¥ ë§ì€ êµ­ê°€ëŠ” {}(ì´)ê³ , {}ê°œì˜ ì‘í’ˆì´ {}ì—ì„œ ë§Œë“¤ì–´ì¡ŒìŠµë‹ˆë‹¤.".format(max_country, max_country_value, max_country))

ê°€ì¥ ë§ì€ êµ­ê°€ëŠ” United States(ì´)ê³ , 2555ê°œì˜ ì‘í’ˆì´ United Statesì—ì„œ ë§Œë“¤ì–´ì¡ŒìŠµë‹ˆë‹¤.

In [10]:
max_country_join = {}
for country in netflix['country'].unique():
    if type(country) == str and max_country in country:
        max_country_join[country] = country_cnts[country]

join_list = (','.join(max_country_join.keys())).replace(", ",",").split(',')
join_list = list(filter(lambda x: x and x != max_country, set(join_list)))
join_country_sum = sum(max_country_join.values())

print("{}ëŠ” ì•„ë˜ì™€ ê°™ì€ ë‚˜ë¼ì™€ ê³µë™ìœ¼ë¡œ ì°¸ì—¬í–ˆìœ¼ë©°, ìì²´ ì œì‘, ê³µë™ ì œì‘ì„ ëª¨ë‘ í•©í•˜ë©´ {}ê°œì˜ ì‘í’ˆì„ ë§Œë“¤ì—ˆìŠµë‹ˆë‹¤.\n".format(max_country, join_country_sum))
print(join_list)

United StatesëŠ” ì•„ë˜ì™€ ê°™ì€ ë‚˜ë¼ì™€ ê³µë™ìœ¼ë¡œ ì°¸ì—¬í–ˆìœ¼ë©°, ìì²´ ì œì‘, ê³µë™ ì œì‘ì„ ëª¨ë‘ í•©í•˜ë©´ 3297ê°œì˜ ì‘í’ˆì„ ë§Œë“¤ì—ˆìŠµë‹ˆë‹¤.

['Japan', 'Belgium', 'Ukraine', 'Austria', 'Argentina', 'Hong Kong', 'Dominican Republic', 'United Arab Emirates', 'Uganda', 'South Africa', 'Venezuela', 'France', 'Thailand', 'India', 'Netherlands', 'Australia', 'Zimbabwe', 'Czech Republic', 'Taiwan', 'Hungary', 'Mongolia', 'Norway', 'Italy', 'Uruguay', 'Samoa', 'Turkey', 'Bangladesh', 'Portugal', 'East Germany', 'South Korea', 'Poland', 'Qatar', 'Cayman Islands', 'Spain', 'Philippines', 'Ecuador', 'Brazil', 'China', 'Panama', 'Denmark', 'Sudan', 'Canada', 'Puerto Rico', 'Jordan', 'Nicaragua', 'Iceland', 'Namibia', 'Israel', 'Morocco', 'Bahamas', 'Somalia', 'United Kingdom', 'Indonesia', 'Romania', 'Greece', 'New Zealand', 'Pakistan', 'Sweden', 'Cambodia', 'Luxembourg', 'Chile', 'Singapore', 'Iraq', 'Kenya', 'Nigeria', 'Peru', 'Switzerland', 'Germany', 'Malta', 'Serbia', 'Russia', 'Botswana', 'Liechtenstein', 'Egypt', 'Ireland', 'Armenia', 'Ghana', 'Senegal', 'Colombia', 'Mexico', 'Kazakhstan', 'Bermuda', 'Lebanon', 'Bulgaria', 'Saudi Arabia', 'Finland', 'Jamaica', 'West Germany', 'Iran']

<h1>Mission 2.ê°€ì¦ˆì•„!</h1>

---

ì„œìš¸ì˜ ì†Œì‹œë¯¼ ë‚˜ì¼ë¡  ë§ˆìŠ¤í¬ëŠ” ìš”ì¦˜ ê°€ìƒí™”íì— í‘¹ ë¹ ì ¸ìˆë‹¤. ë§¤ì¼ë§¤ì¼ ê·¹ë½ê³¼ ì§€ì˜¥ì„ ì˜¤ê°€ëŠ” ë§¤ìš´ë§›ì— ì •ì‹ ì„ ëª» ì°¨ë¦¬ê³  ìˆëŠ”ë°, ê·¸ì˜ ì¹œêµ¬ì¸ í˜¸ì£¼ë‹ˆëŠ” ê·¸ì—ê²Œ ì •ì‹ ì°¨ë¦¬ê²Œ í•˜ê¸° ìœ„í•´ ë¹„íŠ¸ì½”ì¸ ê´‘í’ì´ ì¼ì—ˆë˜ 2017ë…„ í•œ í•´ì˜ ê°€ê²©ì˜ ë³€í™”ë¥¼ ë³´ì—¬ì£¼ë ¤ê³  í•œë‹¤. ê·¸ëŸ°ë° ë§¤ì¼ë§¤ì¼ì˜ ë°ì´í„°ë¥¼ ë³´ì—¬ì£¼ëŠ” ê²ƒë³´ë‹¤ ì´ê²ƒì˜ ì¶”ì„¸ë¥¼ í‘œí˜„í•´ì£¼ë©´ ì¢‹ê² ë‹¤ëŠ” ìƒê°ì´ ë“¤ì–´ <Strong>Moving Average(ì´ë™í‰ê· ë²•)</Strong> ë¥¼ ë„ì…í•˜ê³ ì í•œë‹¤. í˜¸ì£¼ë‹ˆë¥¼ ë„ì™€ ë§ˆìŠ¤í¬ì”¨ë¥¼ ì„¤ë“í•´ë³´ì.
![image](https://user-images.githubusercontent.com/59414764/117319048-e93fe080-aec5-11eb-934f-63328b3e05cf.png)

<h2>Mandatory Part</h2>

--- 

<a href="https://www.kaggle.com/rishidamarla/bitcoin-prices-20112015">ë¹„íŠ¸ì½”ì¸ ë°ì´í„°</a>ê°€ ì£¼ì–´ì¡Œì„ ë•Œ 2016. 6 ~ 2017. 6 ê¸°ê°„ì˜ <strong>ë¹„íŠ¸ì½”ì¸ì˜ 5-MA ê·¸ë˜í”„ì™€ ì´ë”ë¦¬ì›€ì˜ 5-MA ê·¸ë˜í”„ë¥¼ ë™ì‹œì—</strong> ê·¸ë ¤ì£¼ì„¸ìš”.

<ul>
    <li>
        ì„ ì˜ ìƒ‰ê¹”ì€ <strong>ë…¸ë€ìƒ‰(#f2a900)</strong> ìœ¼ë¡œ í•´ì•¼í•©ë‹ˆë‹¤.
    </li>
    <li>
        x-axis labelê³¼ y-axis labelì€ ì ì ˆí•œ í…ìŠ¤íŠ¸ë¡œ ì¶”ê°€ë˜ì–´ì•¼ í•©ë‹ˆë‹¤.
    </li>
    <li>
        ì´ë™í‰ê· ì˜ ê¸°ì¤€ì€ Open Columnìœ¼ë¡œ ê³„ì‚°í•©ë‹ˆë‹¤.
    </li>
    <li>
        ì´ì™¸ì—ë„ ê·¸ë˜í”„ë¥¼ ì•Œì•„ë³´ê¸° ì‰½ê²Œ í•˜ê¸° ìœ„í•œ ì •ë³´(Text, Facet ë“±)ì„ ì¶”ê°€í•˜ëŠ” ê²ƒë„ ì¢‹ìŠµë‹ˆë‹¤.
    </li>
</ul>

ğŸ’¡ ì´ë™í‰ê· (Moving Average)ë²•ì€ ì‹œê³„ì—´ ë°ì´í„°ë¥¼ í‘œí˜„í•˜ëŠ” ë°ì— ë§ì´ ì‚¬ìš©í•˜ëŠ” ë°©ë²• ì¤‘ í•˜ë‚˜ì…ë‹ˆë‹¤.

---

í•´ë‹¹ ê·¸ë˜í”„ë¥¼ ë³¸ ë‚˜ì¼ë¡  ë§ˆìŠ¤í¬ì”¨ëŠ” ì •ì‹ ì„ ì°¨ë ¸ë‹¤. ì •í™•íˆëŠ” ë¹„íŠ¸ì½”ì¸ë§Œ ë°”ë¼ë³¸ ë³¸ì¸ì„ ë§ì´ë‹¤. ì •ë§ ë§ì€ ê°€ìƒí™”íê°€ ìˆëŠ”ë° ë¹„íŠ¸ì½”ì¸ë§Œ ë°”ë¼ë³¸ ë³¸ì¸ì„ ëŒì•„ë³´ê²Œ ë˜ì—ˆë‹¤. ë”ë¶ˆì–´ ê°€ì¥ í•«í•œ ì½”ì¸ì¸ ì´ë”ë¦¬ì›€ ë˜í•œ ê´€ì‹¬ì´ ìƒê²¼ëŠ”ë°, ë§ˆìŠ¤í¬ì”¨ëŠ” 2017ë…„ í•œ í•´ì— ì´ ë‘ê°œì˜ ì¶”ì„¸ë¥¼ ë¹„êµí•˜ê³ ì‹¶ì–´í•œë‹¤. ë§ˆìŠ¤í¬ì”¨ë¥¼ ë„ì™€ ë¹„íŠ¸ì½”ì¸ê³¼ ì´ë”ë¦¬ì›€ì˜ ê°€ê²© ì¶”ì„¸ ë¹„êµë¥¼ ë„ì™€ì£¼ì.

---

In [11]:
bitcoin = pd.read_csv(data_folder_dir + 'BitCoin.csv')
bitcoin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1609 entries, 0 to 1608
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1609 non-null   int64
 1   Date        1609 non-null   object
 2   Open        1609 non-null   float64
 3   High        1609 non-null   float64
 4   Low         1609 non-null   float64
 5   Close       1609 non-null   float64
 6   Volume      1609 non-null   float64
 7   Market Cap  1609 non-null   int64
dtypes: float64(5), int64(2), object(1)
memory usage: 100.7+ KB

In [12]:
bitcoin.head()

,Unnamed: 0,Date,Open,High,Low,Close,Volume,Market Cap
0,0,2017-09-22,3628.02,3758.27,3553.53,3630.70,1.194830e+09,60152300000
1,1,2017-09-21,3901.47,3916.42,3613.63,3631.04,1.411480e+09,64677600000
2,2,2017-09-20,3916.36,4031.39,3857.73,3905.95,1.213830e+09,64918500000
3,3,2017-09-19,4073.79,4094.07,3868.87,3924.97,1.563980e+09,67520300000
4,4,2017-09-18,3591.09,4079.23,3591.09,4065.20,1.943210e+09,59514100000

In [19]:
period = pd.period_range(start = '2016-06-01', end = '2017-06-30', freq = 'D')

In [20]:
bitcoin[bitcoin['Date'] in period]

TypeError: 'Series' objects are mutable, thus they cannot be hashed