# pandas

## pandas를 활용해 데이터 프레임을 다뤄보자.

1. Pandas 시작하기 
 - prerequisite : Table
 - pandas import하기
2. Pandas로 1차원 데이터 다루기 - Series
 - Series 선언하기
 - Series vs ndarray
 - Series vs dict
 - Series에 이름 붙이기
3. Pandas로 2차원 데이터 다루기 - dataframe
 - dataframe 선언하기
 - from csv to dataframe
 - dataframe 자료 접근하기

### 1. Pandas 시작하기

#### Prerequisite : Table

- 행과열을 이용해 데이터를 저장하고 관리하는 자료구조(컨테이너)
- 주로 행은 개체, 열은 속성을 나타냄

#### Pandas 시작하기

`import pandas`를 통해 진행

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (0.25.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.16.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python37\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

### 2. pandas로 1차원 데이터 다루기 - Series

#### Series?
- 1-D labeled **array**
- 인덱스를 지정해줄 수 있음

In [4]:
s = pd.Series([1,4,9,16,25])

print(s)

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [5]:
t = pd.Series({'one':1, 'two':2, 'three':3, 'four':4, 'five':5})

print(t)

one      1
two      2
three    3
four     4
five     5
dtype: int64

#### Sereis + Numpy

- Series는 ndarray와 유사하다!

In [6]:
s[1]

4

In [7]:
t[1]

2

In [8]:
t[1:3]

two      2
three    3
dtype: int64

In [10]:
s[s > s.median()] # 자기 자신의 median(중앙값)보다 큰 값들만 가지고 와라

3    16
4    25
dtype: int64

In [11]:
s[[3,1,4]] #해당 인덱스의 순서대로 Series의 값이 나오게 된다.

3    16
1     4
4    25
dtype: int64

In [12]:
import numpy as np

np.exp(s)

0    2.718282e+00
1    5.459815e+01
2    8.103084e+03
3    8.886111e+06
4    7.200490e+10
dtype: float64

In [13]:
s.dtype

dtype('int64')

#### Series + dict

- series는 **dict**와 유사하다

In [14]:
t['one']

1

In [15]:
# Sereis 값 추가

t['six'] = 6
t

one      1
two      2
three    3
four     4
five     5
six      6
dtype: int64

In [16]:
'six' in t

True

In [17]:
'seven' in t

False

In [18]:
t.get('seven')

In [19]:
t.get('seven',0)

0

#### Series에 이름 붙이기

- `name` 속성을 갖고 있다.
- 처음 Series를 만들 때 이름을 붙일 수 있다.

In [20]:
s = pd.Series(np.random.randn(5), name="random_nums")

s

0   -1.518571
1   -1.664454
2    0.398065
3   -1.553147
4    1.093964
Name: random_nums, dtype: float64

In [21]:
s.name = "임의의 난수"

In [24]:
s

0   -1.518571
1   -1.664454
2    0.398065
3   -1.553147
4    1.093964
Name: 임의의 난수, dtype: float64

### 3. Pandas로 2차원 데이터 다루기 - dataframe

#### dataframe?

- 2-D labeled **table**
- 인덱스를 지정할 수 있음

In [27]:
d = {"height":[1,2,3,4],"weight":[30,40,50,60]}

df = pd.DataFrame(d)

df

   height  weight
0       1      30
1       2      40
2       3      50
3       4      60

In [30]:
## dtype 확인

df.dtypes

height    int64
weight    int64
dtype: object

#### From CSV to Dataframe

- Comma Separated Value를 DataFrame으로 생성해줄 수 있다.
- `.read_csv()`를 이용

In [33]:
# 동일 경로에 country_wise_latest.csv가 존재하면:

covid = pd.read_csv("./country_wise_latest.csv")

covid

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

#### Pandas 활용 1. 일부분만 관찰하기

Data의 양이 워낙 방대하기 때문에 일부분만 관찰하는 작업이 필요할 수 있다.

In [38]:
# 위에서부터 5개를 관찰하는 방법(함수)

covid.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

In [40]:
# 아래에서부터 5개를 관찰하는 방법

covid.tail()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

#### Pandas 활용 2. 데이터 접근하기

- df['column_name'] or df.column_name

In [44]:
covid['Active']

0      9796
1      1991
2      7973
3        52
4       667
       ...
182    6791
183       1
184     375
185    1597
186    2126
Name: Active, Length: 187, dtype: int64

In [45]:
covid.Active

0      9796
1      1991
2      7973
3        52
4       667
       ...
182    6791
183       1
184     375
185    1597
186    2126
Name: Active, Length: 187, dtype: int64

#### Dataframe의 각 column은 *Series*다!

In [47]:
type(covid['Confirmed']) #데이터프레임은 각 시리즈의 병렬적인 모음임을 알 수 있다.

pandas.core.series.Series

In [48]:
covid['Confirmed'][0]

36263

In [50]:
covid['Confirmed'][1:5]

1     4880
2    27973
3      907
4      950
Name: Confirmed, dtype: int64

#### Pandas 활용 3. "조건"을 이용해 데이터 접근하기

In [54]:
# 신규 확진자가 100명이 넘는 나라 찾아보기

covid[covid['New cases']>100].head(5)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
6,Argentina,167416,3059,72575,91782,4890,120,2057,1.83,43.35,4.21,130774,36642,28.02,Americas
8,Australia,15303,167,9311,5825,368,6,137,1.09,60.84,1.79,12428,2875,23.13,Western Pacific

In [57]:
# WHO 지역(WHO Region)이 동남아시아인 나라 찾기

covid['WHO Region'].unique() #범주의 종류 확인

array(['Eastern Mediterranean', 'Europe', 'Africa', 'Americas',
       'Western Pacific', 'South-East Asia'], dtype=object)

In [59]:
covid[covid['WHO Region'] == 'South-East Asia']

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
13,Bangladesh,226225,2965,125683,97577,2772,37,1801,1.31,55.56,2.36,207453,18772,9.05,South-East Asia
19,Bhutan,99,0,86,13,4,0,1,0.00,86.87,0.00,90,9,10.00,South-East Asia
27,Burma,350,6,292,52,0,0,2,1.71,83.43,2.05,341,9,2.64,South-East Asia
79,India,1480073,33408,951166,495499,44457,637,33598,2.26,64.26,3.51,1155338,324735,28.11,South-East Asia
80,Indonesia,100303,4838,58173,37292,1525,57,1518,4.82,58.00,8.32,88214,12089,13.70,South-East Asia
106,Maldives,3369,15,2547,807,67,0,19,0.45,75.60,0.59,2999,370,12.34,South-East Asia
119,Nepal,18752,48,13754,4950,139,3,626,0.26,73.35,0.35,17844,908,5.09,South-East Asia
158,Sri Lanka,2805,11,2121,673,23,0,15,0.39,75.61,0.52,2730,75,2.75,South-East Asia
167,Thailand,3297,58,3111,128,6,0,2,1.76,94.36,1.86,3250,47,1.45,South-East Asia
168,Timor-Leste,24,0,0,24,0,0,0,0.00,0.00,0.00,24,0,0.00,South-East Asia

#### Pandas 활용 4. 행을 기준으로 데이터 접근하기

In [66]:
# 예시 데이터 - 도서관 정보

books_dict = {"Available" :[True, True, False], "Location":[102, 215, 323], "Genre":["Programming", "Physics", "Math"]}

books_df = pd.DataFrame(books_dict, index=['버그란 무엇인가','두근두근 물리학','미분해줘 홈즈'])

books_df

          Available  Location        Genre
버그란 무엇인가       True       102  Programming
두근두근 물리학       True       215      Physics
미분해줘 홈즈       False       323         Math

#### 인덱스를 이용해 가져오기 : `.loc[row,col]`

In [67]:
books_df.loc["버그란 무엇인가"]

Available           True
Location             102
Genre        Programming
Name: 버그란 무엇인가, dtype: object

In [71]:
# "미분해줘 홈즈 책이 대출 가능한가?"

books_df.loc["미분해줘 홈즈", "Available"]

False

숫자 인덱스를 이용해 가져오기 : `.iloc[rowidx, colidx]`

In [73]:
# 인덱스 0행의 인덱스 1열 가지고 오기

books_df.iloc[0,1]

102

In [77]:
# 인덱스 1행의 인덱스 0~1열 가지고 오기

books_df.iloc[1, 0:2]

Available    True
Location      215
Name: 두근두근 물리학, dtype: object

#### Pandas 활용 5. groupby

- Split : 특정한 '기준'을 바탕으로 DataFrame을 분할
- Apply : 통계함수 - sum(), mean(), median(), ... 을 적용해 각 데이터를 압축
- Combine : Apply된 결과를 바탕으로 새로운 Series를 생성 ( group_key : applied_value )

`.groupby()`

In [85]:
# WHO Region 별 확진자수

# 1. covid에서 확진자 수 column만 추출한다.
# 2. 이를 covid의 WHO Region을 기준으로 groupby한다.

covid_by_region = covid['Confirmed'].groupby(by=covid["WHO Region"])

In [86]:
covid_by_region.sum()

WHO Region
Africa                    723207
Americas                 8839286
Eastern Mediterranean    1490744
Europe                   3299523
South-East Asia          1835297
Western Pacific           292428
Name: Confirmed, dtype: int64

In [89]:
# 국가당 감염자 수 

covid_by_region.mean() # sum() / 국가 수

WHO Region
Africa                    15066.812500
Americas                 252551.028571
Eastern Mediterranean     67761.090909
Europe                    58920.053571
South-East Asia          183529.700000
Western Pacific           18276.750000
Name: Confirmed, dtype: float64

# Mission:

## 1. covid 데이터에서 100 case 대비 사망률(Deaths / 100 Cases)이 가장 높은 국가는?

In [101]:
covid[covid['Deaths / 100 Cases']==max(covid['Deaths / 100 Cases'])]['Country/Region']

184    Yemen
Name: Country/Region, dtype: object

## 2. covid 데이터에서 신규 확진자가 없는 나라 중 WHO Region이 'Europe'를 모두 출력하면?

Hint : 한 줄에 동시에 두 가지 조건을 Apply하는 경우 Warning이 발생할 수 있다.

In [106]:
# 1. 신규 확진자가 없는 조건
no_new_cases = covid[covid['New cases']==0]

# 2. WHO Region이 'Europe'인 경우
no_new_cases[no_new_cases['WHO Region']=='Europe']

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
56,Estonia,2034,69,1923,42,0,0,1,3.39,94.54,3.59,2021,13,0.64,Europe
75,Holy See,12,0,12,0,0,0,0,0.00,100.00,0.00,12,0,0.00,Europe
95,Latvia,1219,31,1045,143,0,0,0,2.54,85.73,2.97,1192,27,2.27,Europe
100,Liechtenstein,86,1,81,4,0,0,0,1.16,94.19,1.23,86,0,0.00,Europe
113,Monaco,116,4,104,8,0,0,0,3.45,89.66,3.85,109,7,6.42,Europe
143,San Marino,699,42,657,0,0,0,0,6.01,93.99,6.39,699,0,0.00,Europe
157,Spain,272421,28432,150376,93613,0,0,0,10.44,55.20,18.91,264836,7585,2.86,Europe

In [113]:
# Hint의 경우.. 두 가지 조건을 Apply하는 경우 Warning이 발생하는 것을 확인할 수 있다.

covid[covid['New cases']==0][covid['WHO Region']=='Europe']

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
56,Estonia,2034,69,1923,42,0,0,1,3.39,94.54,3.59,2021,13,0.64,Europe
75,Holy See,12,0,12,0,0,0,0,0.00,100.00,0.00,12,0,0.00,Europe
95,Latvia,1219,31,1045,143,0,0,0,2.54,85.73,2.97,1192,27,2.27,Europe
100,Liechtenstein,86,1,81,4,0,0,0,1.16,94.19,1.23,86,0,0.00,Europe
113,Monaco,116,4,104,8,0,0,0,3.45,89.66,3.85,109,7,6.42,Europe
143,San Marino,699,42,657,0,0,0,0,6.01,93.99,6.39,699,0,0.00,Europe
157,Spain,272421,28432,150376,93613,0,0,0,10.44,55.20,18.91,264836,7585,2.86,Europe

## 3. Avocado Prices 데이터를 이용해 각 Region별로 아보카도가 가장 비싼 평균가격(AveragePrice)을 출력하면?

In [114]:
avocado = pd.read_csv("./avocado.csv")

In [127]:
# avocda column들 추출

avocado.columns

Index(['Unnamed: 0', 'Date', 'AveragePrice', 'Total Volume', '4046', '4225',
       '4770', 'Total Bags', 'Small Bags', 'Large Bags', 'XLarge Bags', 'type',
       'year', 'region'],
      dtype='object')

In [139]:
avocado_group = avocado['AveragePrice'].groupby(by=avocado['region'])

In [142]:
avocado_group.mean()

region
Albany                 1.561036
Atlanta                1.337959
BaltimoreWashington    1.534231
Boise                  1.348136
Boston                 1.530888
BuffaloRochester       1.516834
California             1.395325
Charlotte              1.606036
Chicago                1.556775
CincinnatiDayton       1.209201
Columbus               1.252781
DallasFtWorth          1.085592
Denver                 1.218580
Detroit                1.276095
GrandRapids            1.505000
GreatLakes             1.338550
HarrisburgScranton     1.513284
HartfordSpringfield    1.818639
Houston                1.047929
Indianapolis           1.313994
Jacksonville           1.510947
LasVegas               1.380917
LosAngeles             1.216006
Louisville             1.286686
MiamiFtLauderdale      1.428491
Midsouth               1.404763
Nashville              1.212101
NewOrleansMobile       1.304793
NewYork                1.727574
Northeast              1.601923
NorthernNewEngland     1.477396
Orlando                1.506213
Philadelphia           1.632130
PhoenixTucson          1.224438
Pittsburgh             1.364320
Plains                 1.436509
Portland               1.317722
RaleighGreensboro      1.555118
RichmondNorfolk        1.291331
Roanoke                1.247929
Sacramento             1.621568
SanDiego               1.398166
SanFrancisco           1.804201
Seattle                1.442574
SouthCarolina          1.403284
SouthCentral           1.101243
Southeast              1.398018
Spokane                1.445592
StLouis                1.430621
Syracuse               1.520325
Tampa                  1.408846
TotalUS                1.319024
West                   1.272219
WestTexNewMexico       1.261701
Name: AveragePrice, dtype: float64