In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train_df = pd.read_csv('../input/train.csv')
print(train_df.columns.values)
train_df.head()

['PassengerId' 'Survived' 'Pclass' 'Name' 'Sex' 'Age' 'SibSp' 'Parch'
 'Ticket' 'Fare' 'Cabin' 'Embarked']

   PassengerId  Survived  Pclass    ...        Fare Cabin  Embarked
0            1         0       3    ...      7.2500   NaN         S
1            2         1       1    ...     71.2833   C85         C
2            3         1       3    ...      7.9250   NaN         S
3            4         1       1    ...     53.1000  C123         S
4            5         0       3    ...      8.0500   NaN         S

[5 rows x 12 columns]

In [3]:
train_df[["Parch", "SibSp", "Fare", "Survived"]].corr()

             Parch     SibSp      Fare  Survived
Parch     1.000000  0.414838  0.216225  0.081629
SibSp     0.414838  1.000000  0.159651 -0.035322
Fare      0.216225  0.159651  1.000000  0.257307
Survived  0.081629 -0.035322  0.257307  1.000000

In [4]:
oc = ((train_df['SibSp'] == 0) & (train_df['Parch'] == 2)) | ((train_df['SibSp'] == 0) & (train_df['Parch'] == 1))
train_df['MaybeOnlyChild'] = 0
train_df.loc[oc, 'MaybeOnlyChild'] = 1

train_df[['MaybeOnlyChild', 'Survived']].corr()

                MaybeOnlyChild  Survived
MaybeOnlyChild        1.000000  0.177503
Survived              0.177503  1.000000

In [10]:
noc = ((train_df['SibSp'] > 0) & (train_df['Parch'] == 2)) | ((train_df['SibSp'] > 0) & (train_df['Parch'] == 1))
train_df['NotOnlyChild'] = 0
train_df.loc[noc, 'NotOnlyChild'] = 1

train_df[['MaybeOnlyChild', 'Survived']].corr()

                MaybeOnlyChild  Survived
MaybeOnlyChild        1.000000  0.177503
Survived              0.177503  1.000000

In [5]:
train_df[['MaybeOnlyChild', 'Survived']].groupby(['MaybeOnlyChild'], as_index=False).mean().sort_values(by='Survived', ascending=False)

   MaybeOnlyChild  Survived
1               1  0.686567
0               0  0.359223

In [11]:
train_df[['NotOnlyChild', 'Survived']].groupby(['NotOnlyChild'], as_index=False).mean().sort_values(by='Survived', ascending=False)

   NotOnlyChild  Survived
1             1  0.450382
0             0  0.372368

### 외동일 경우 아닌 경우보다 약 20% 이상 높은 생존률을 보입니다.

In [6]:
train_df['FamilySize'] = train_df['SibSp'] + train_df['Parch'] + 1
train_df[['FamilySize', 'Survived']].groupby(['FamilySize'], as_index=False).mean().sort_values(by='Survived', ascending=False)

   FamilySize  Survived
3           4  0.724138
2           3  0.578431
1           2  0.552795
6           7  0.333333
0           1  0.303538
4           5  0.200000
5           6  0.136364
7           8  0.000000
8          11  0.000000

We can create another feature called IsAlone.

In [7]:
train_df['IsAlone'] = 0
train_df.loc[train_df['FamilySize'] == 1, 'IsAlone'] = 1
train_df[['IsAlone', 'Survived']].groupby(['IsAlone'], as_index=False).mean()

   IsAlone  Survived
0        0  0.505650
1        1  0.303538

In [8]:
train_df[['FamilySize', 'IsAlone', 'Survived']].corr()

            FamilySize   IsAlone  Survived
FamilySize    1.000000 -0.690922  0.016639
IsAlone      -0.690922  1.000000 -0.203367
Survived      0.016639 -0.203367  1.000000

In [9]:
train_df[['Fare', 'Pclass', 'Survived']].corr()

              Fare    Pclass  Survived
Fare      1.000000 -0.549500  0.257307
Pclass   -0.549500  1.000000 -0.338481
Survived  0.257307 -0.338481  1.000000

And the test dataset.