# 2. 파이썬으로 데이터 주무르기, pandas
**pandas를 활용해서 데이터프레임을 다뤄봅시다.**

1. Pandas 시작하기
    - prerequisite : Table
    - pandas import하기
   
2. Pandas로 1차원 데이터 다루기 - Series 
    - Series 선언하기
    - Series vs ndarray
    - Series vs dict
    - Series에 이름 붙이기
3. Pandas로 2차원 데이터 다루기 - dataframe
    - dataframe 선언하기
    - from csv to dataframe
    - dataframe 자료 접근하기

[수업에 사용된 covid 데이터](https://www.kaggle.com/imdevskp/corona-virus-report)

## I. pandas 시작하기

### Prerequisite : Table

- 행과 열을 이용해서 데이터를 저장하고 관리하는 자료구조(컨테이너)
- 주로 행은 개체, 열은 속성을 나타냄

### Pandas 시작하기

`import pandas` 를 통해서 진행

In [1]:
import pandas as pd

## II. pandas로 1차원 데이터 다루기 - Series

### Series?

- 1-D labeled **array**
- 인덱스를 지정해줄 수 있음

In [2]:
s = pd.Series([1,4,9,16,25])

s

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [3]:
t = pd.Series({'one':1, 'two':2, 'three':3, 'four':4, 'five':5})

t

one      1
two      2
three    3
four     4
five     5
dtype: int64

Series + Numpy

- Series는 ndarray와 유사하다

In [4]:
s[1]

4

In [5]:
t[1]

2

In [6]:
t[1:3]

two      2
three    3
dtype: int64

In [7]:
s[s > s.median()] # 자기 자신의 median(중앙값)보다 큰 값들만 가지고 와라

3    16
4    25
dtype: int64

In [8]:
s[[3,1,4]]

3    16
1     4
4    25
dtype: int64

In [9]:
import numpy as np

np.exp(s)

0    2.718282e+00
1    5.459815e+01
2    8.103084e+03
3    8.886111e+06
4    7.200490e+10
dtype: float64

In [10]:
s.dtype

dtype('int64')

### Series + dict

- series는 **dict**와 유사하다

In [11]:
t

one      1
two      2
three    3
four     4
five     5
dtype: int64

In [12]:
t['one']

1

In [13]:
# Series에 값 추가

t['six'] = 6

t

one      1
two      2
three    3
four     4
five     5
six      6
dtype: int64

In [14]:
'six' in t

True

In [15]:
'seven' in t

False

In [16]:
# t['seven']

In [17]:
t.get('seven')

In [18]:
t.get('seven', 0)

0

### Series에 이름 붙이기

- `name` 속성만 가지고 있다.
- 처음 Series를 만들 때 이름을 붙일 수 있습니다.

In [19]:
s = pd.Series(np.random.rand(5), name="random_nums")

s

0    0.970971
1    0.880636
2    0.219822
3    0.508624
4    0.736088
Name: random_nums, dtype: float64

In [20]:
s.name = "임의의 난수"

In [21]:
s

0    0.970971
1    0.880636
2    0.219822
3    0.508624
4    0.736088
Name: 임의의 난수, dtype: float64

## III. Pandas로 2차원 데이터 다루기 - dataframe

### dataframe?

- 2-D labeled **table**
- 인덱스를 지정할 수도 있음

In [23]:
d = {"height":[1,2,3,4], "weight":[30,40,50,60]}

df = pd.DataFrame(d)

df

   height  weight
0       1      30
1       2      40
2       3      50
3       4      60

In [25]:
## dtype 확인

df.dtypes

height    int64
weight    int64
dtype: object

### From CSV to dataframe

- Comma Separated Value를 DataFrame으로 생성해줄 수 있다.
- `.read_csv()`를 이용

In [28]:
# 동일 경로에 country_wise_latest.csv가 존재하면:

covid = pd.read_csv('./country_wise_latest.csv')

covid

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

### Pandas 활용 1. 일부분만 관찰하기

`head(n)` : 처음 n개의 데이터 참조

In [29]:
# 위에서부터 5개를 관찰하는 방법(함수)

covid.head(5)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

`tail(n)`: 마지막 n개의 데이터를 참조

In [33]:
# 아래에서부터 5개를 관찰하는 방법(함수)

covid.tail(5)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

### Pandas 활용 2. 데이터 접근하기

- `df['column_name']` or `df.column_name`

In [37]:
covid['Active']

0      9796
1      1991
2      7973
3        52
4       667
       ...
182    6791
183       1
184     375
185    1597
186    2126
Name: Active, Length: 187, dtype: int64

In [38]:
covid.Active

0      9796
1      1991
2      7973
3        52
4       667
       ...
182    6791
183       1
184     375
185    1597
186    2126
Name: Active, Length: 187, dtype: int64

In [39]:
covid['Confirmed']

0      36263
1       4880
2      27973
3        907
4        950
       ...
182    10621
183       10
184     1691
185     4552
186     2704
Name: Confirmed, Length: 187, dtype: int64

In [40]:
# covid.WHO Region

### Honey Tip! DataFrame의 각 column은 "Series"다!

In [41]:
type(covid['Confirmed'])

pandas.core.series.Series

In [43]:
covid['Confirmed'][0]

36263

In [44]:
covid['Confirmed'][1:5]

1     4880
2    27973
3      907
4      950
Name: Confirmed, dtype: int64

### Pandas 활용 3. "조건"을 이용해서 데이터 접근하기

In [46]:
# 신규 확진자각 100명이 넘는 나라를 찾아보자!

covid[covid['New cases'] > 100].head(5)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
6,Argentina,167416,3059,72575,91782,4890,120,2057,1.83,43.35,4.21,130774,36642,28.02,Americas
8,Australia,15303,167,9311,5825,368,6,137,1.09,60.84,1.79,12428,2875,23.13,Western Pacific

In [47]:
# WHO 지역(WHO Region)이 동남아시아인 나라 찾기

covid['WHO Region'].unique()

array(['Eastern Mediterranean', 'Europe', 'Africa', 'Americas',
       'Western Pacific', 'South-East Asia'], dtype=object)

In [48]:
covid[covid['WHO Region'] == 'South-East Asia']

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
13,Bangladesh,226225,2965,125683,97577,2772,37,1801,1.31,55.56,2.36,207453,18772,9.05,South-East Asia
19,Bhutan,99,0,86,13,4,0,1,0.00,86.87,0.00,90,9,10.00,South-East Asia
27,Burma,350,6,292,52,0,0,2,1.71,83.43,2.05,341,9,2.64,South-East Asia
79,India,1480073,33408,951166,495499,44457,637,33598,2.26,64.26,3.51,1155338,324735,28.11,South-East Asia
80,Indonesia,100303,4838,58173,37292,1525,57,1518,4.82,58.00,8.32,88214,12089,13.70,South-East Asia
106,Maldives,3369,15,2547,807,67,0,19,0.45,75.60,0.59,2999,370,12.34,South-East Asia
119,Nepal,18752,48,13754,4950,139,3,626,0.26,73.35,0.35,17844,908,5.09,South-East Asia
158,Sri Lanka,2805,11,2121,673,23,0,15,0.39,75.61,0.52,2730,75,2.75,South-East Asia
167,Thailand,3297,58,3111,128,6,0,2,1.76,94.36,1.86,3250,47,1.45,South-East Asia
168,Timor-Leste,24,0,0,24,0,0,0,0.00,0.00,0.00,24,0,0.00,South-East Asia

### Pandas 활용 4. 행을 기준으로 데이터 접근하기

In [49]:
# 예시 데이터 - 도서관 정보

books_dict = {"Available":[True, True, False], "Location":[102, 215, 323], "Genre":["Programming", "Physics", "Math"]}

books_df = pd.DataFrame(books_dict, index=['버그란 무엇인가', '두근두근 물리학', '미분해줘 홈즈'])

books_df

          Available  Location        Genre
버그란 무엇인가       True       102  Programming
두근두근 물리학       True       215      Physics
미분해줘 홈즈       False       323         Math

### 인덱스를 이용해서 가져오기 : `.loc[row, col]`

In [50]:
books_df.loc["버그란 무엇인가"]

Available           True
Location             102
Genre        Programming
Name: 버그란 무엇인가, dtype: object

In [51]:
# "미분해줘 홈즈 책이 대출 가능한지?"

books_df.loc["미분해줘 홈즈", 'Available']

False

### 숫자 인덱스를 이용해서 가져오기 : `iloc[rowidx, colidx]`

In [52]:
# 인덱스 0행의 인덱스 1열 가지고오기

books_df.iloc[0,1]

102

In [53]:
# 인덱스 1행의 인덱스 0~1열 가지고오기

books_df.iloc[1, 0:2]

Available    True
Location      215
Name: 두근두근 물리학, dtype: object

### Pandas 활용 5. Groupby

- Split : 특정한 "기준"을 바탕으로 DataFrame을 분할
- Aplly : 통계함수 - sum(), mean(), median(), - 을 적용해서 각 데이터를 압축
- Combine : Apply된 결과를 바탕으로 새로운 Series를 생성(group_key : applied_value

`.group_by()`

In [54]:
covid.head(5)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

In [55]:
# WHO Region"별" 확진자수

# 1. covid에서 확진자 수 column만 추출한다.
# 2. 이를 covid의 WHO Region을 기준으로 groupby한다.

covid_by_region = covid['Confirmed'].groupby(by=covid["WHO Region"])

covid_by_region

In [56]:
covid_by_region.sum()

WHO Region
Africa                    723207
Americas                 8839286
Eastern Mediterranean    1490744
Europe                   3299523
South-East Asia          1835297
Western Pacific           292428
Name: Confirmed, dtype: int64

In [57]:
# 국가당 감염자 수
covid_by_region.mean() # sum / 국가 수

WHO Region
Africa                    15066.812500
Americas                 252551.028571
Eastern Mediterranean     67761.090909
Europe                    58920.053571
South-East Asia          183529.700000
Western Pacific           18276.750000
Name: Confirmed, dtype: float64

## Mission:
### 1. covid 데이터에서 100 case 대비 사망률(`Deaths / 100 Cases`)이 가장 높은 국가는?

In [75]:
covid[covid['Deaths / 100 Cases']==max(covid['Deaths / 100 Cases'])]['Country/Region']

184    Yemen
Name: Country/Region, dtype: object

### 2. covid 데이터에서 신규 확진자가 없는 나라 중 WHO Region이 'Europe'를 모두 출력하면?  
Hint : 한 줄에 동시에 두가지 조건을 Apply하는 경우 Warning이 발생할 수 있습니다.

In [78]:
covid_new_0 = covid[covid['New cases']==0]

covid_new_0[covid_new_0['WHO Region']=='Europe']['Country/Region']

56           Estonia
75          Holy See
95            Latvia
100    Liechtenstein
113           Monaco
143       San Marino
157            Spain
Name: Country/Region, dtype: object

### 3. 다음 [데이터](https://www.kaggle.com/neuromusic/avocado-prices)를 이용해 각 Region별로 아보카도가 가장 비싼 평균가격(AveragePrice)을 출력하면?

In [79]:
avocado = pd.read_csv('avocado.csv')

avocado

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
18245,8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [84]:
avocado_region = avocado.groupby(by='region')

avocado_region.max()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year
region,,,,,,,,,,,,,
Albany,52,2018-03-25,2.13,216738.47,34912.97,195725.06,5883.16,36806.79,30126.31,27205.98,2900.00,organic,2018
Atlanta,52,2018-03-25,2.75,957792.07,553198.56,211776.98,4251.74,425991.21,292317.81,217337.59,10972.77,organic,2018
BaltimoreWashington,52,2018-03-25,2.28,1225103.27,202958.24,805041.45,83652.48,488208.25,483402.85,43483.00,13745.00,organic,2018
Boise,52,2018-03-25,2.79,136377.55,69544.59,36532.33,23346.13,93735.23,93645.45,40491.57,1231.57,organic,2018
Boston,52,2018-03-25,2.19,999783.13,85204.27,865836.92,81859.54,220254.40,215552.06,52294.16,4745.00,organic,2018
BuffaloRochester,52,2018-03-25,2.57,201142.55,26274.97,99364.48,6707.85,101271.16,101271.16,62156.06,5795.00,organic,2018
California,52,2018-03-25,2.58,11213596.29,4794142.14,4097591.67,424389.60,3462625.70,3403581.49,508755.56,86800.09,organic,2018
Charlotte,52,2018-03-25,2.83,411160.94,95176.35,172311.19,80813.88,223765.32,218181.70,17681.68,5520.00,organic,2018
Chicago,52,2018-03-25,2.30,1802646.35,378806.26,1235325.42,224554.50,510679.10,143295.47,423185.75,11540.00,organic,2018
CincinnatiDayton,52,2018-03-25,2.20,538518.77,102019.45,224967.68,30149.60,397270.05,165544.38,363468.52,9387.59,organic,2018
Columbus,52,2018-03-25,2.22,333398.29,140453.99,61748.67,36191.68,162102.31,135610.65,39927.30,8519.43,organic,2018
DallasFtWorth,52,2018-03-25,1.90,1885401.44,1013252.58,509069.75,143875.64,788607.81,673212.32,187840.93,30681.22,organic,2018
Denver,52,2018-03-25,2.16,1381528.74,239163.63,608156.34,62908.07,749722.33,326361.97,706052.84,4612.42,organic,2018
Detroit,52,2018-03-25,2.08,880540.45,214826.74,287359.89,192417.10,375815.94,349596.64,89516.48,38570.18,organic,2018
GrandRapids,52,2018-03-25,2.73,408921.57,7888.33,298897.77,143538.35,87927.29,80548.80,26632.00,43708.82,organic,2018
GreatLakes,52,2018-03-25,1.98,7094764.73,1410647.88,3117639.02,704466.56,2141227.31,1436877.51,832296.70,131300.76,organic,2018
HarrisburgScranton,52,2018-03-25,2.27,395673.05,125847.54,247409.27,4525.24,120786.61,119477.01,28613.00,11095.48,organic,2018
HartfordSpringfield,52,2018-03-25,2.68,522565.33,85641.41,449501.24,23027.59,110584.26,109324.82,28942.00,3881.61,organic,2018
Houston,52,2018-03-25,1.92,2381742.59,1134750.48,597855.73,210029.30,1120622.10,1010539.42,629791.58,30753.33,organic,2018
Indianapolis,52,2018-03-25,2.10,335442.41,90305.67,181784.28,27708.02,155633.65,104102.69,111176.50,7575.88,organic,2018
Jacksonville,52,2018-03-25,2.99,398543.91,206007.07,70592.24,2356.55,141030.88,79274.34,92767.01,5995.00,organic,2018
LasVegas,52,2018-03-25,3.03,680234.93,286395.34,212174.53,18141.91,264249.77,93651.31,207843.81,1473.33,organic,2018
LosAngeles,52,2018-03-25,2.44,5470227.08,2914047.44,1447533.80,121002.86,2701609.82,2656630.42,362931.85,61316.94,organic,2018
Louisville,52,2018-03-25,2.29,169828.77,37508.86,98136.23,10193.62,78880.66,53034.96,55257.34,4074.69,organic,2018
MiamiFtLauderdale,52,2018-03-25,3.05,1310671.51,897435.51,281503.40,9947.00,292462.33,120093.14,220080.54,17369.72,organic,2018
Midsouth,52,2018-03-25,2.17,5286412.87,1259113.31,2257429.97,388259.15,2299234.65,2062091.77,280722.16,79133.56,organic,2018
Nashville,52,2018-03-25,2.24,391780.25,186689.66,59611.16,17578.18,193381.81,186396.09,45308.77,2780.00,organic,2018
NewOrleansMobile,52,2018-03-25,2.32,633235.06,400599.94,80089.33,15050.73,161891.76,128875.87,43469.83,16675.00,organic,2018
NewYork,52,2018-03-25,2.65,2959541.38,294591.11,2283465.22,279630.35,806773.40,774634.09,305309.26,18757.50,organic,2018
Northeast,52,2018-03-25,2.31,7508650.27,736158.49,5402444.45,375904.92,1925092.30,1495884.84,640105.84,69794.85,organic,2018
NorthernNewEngland,52,2018-03-25,1.96,847261.25,211564.36,754096.71,64720.71,196316.33,176636.74,154825.16,9655.00,organic,2018
Orlando,52,2018-03-25,2.87,759532.37,511953.91,151154.50,2083.82,223889.61,94810.52,155928.30,19396.39,organic,2018
Philadelphia,52,2018-03-25,2.45,819224.30,130162.76,511600.73,58242.14,288606.41,261473.35,54389.00,8255.40,organic,2018
PhoenixTucson,52,2018-03-25,2.62,2200550.27,1200632.86,531226.65,57213.24,534479.18,330740.57,330583.10,6709.75,organic,2018
Pittsburgh,52,2018-03-25,1.83,214738.04,107597.81,145405.43,5316.06,99834.61,48023.13,63248.94,6515.00,organic,2018
Plains,52,2018-03-25,2.13,3575499.21,2157030.64,1165322.88,53882.08,869560.91,717323.25,190573.14,52003.87,organic,2018
Portland,52,2018-03-25,2.86,1189151.17,264203.19,535324.57,45229.53,737683.65,678871.57,391141.49,7648.30,organic,2018
RaleighGreensboro,52,2018-03-25,3.04,552900.21,123228.06,230068.42,88450.29,320856.77,312969.23,19822.48,10935.00,organic,2018
RichmondNorfolk,52,2018-03-25,2.05,469093.71,145746.61,168148.89,21686.02,214438.38,187621.35,26710.36,9460.83,organic,2018
Roanoke,52,2018-03-25,2.27,287728.25,82020.39,79535.27,2541.99,150169.93,116918.04,32938.52,5763.33,organic,2018
Sacramento,52,2018-03-25,2.82,862337.10,321474.22,518775.30,34235.86,136289.77,128164.60,5504.02,7129.43,organic,2018
SanDiego,52,2018-03-25,2.74,917660.79,424263.68,439224.74,32042.58,378746.24,318872.23,155614.62,5649.28,organic,2018
SanFrancisco,52,2018-03-25,3.25,1706251.05,560686.25,1113987.54,76966.69,236417.93,231913.11,11823.61,10906.94,organic,2018
Seattle,52,2018-03-25,2.96,1093144.23,263440.86,578708.75,18076.48,650319.01,573866.81,312387.51,1943.12,organic,2018
SouthCarolina,52,2018-03-25,2.21,706098.15,365828.76,182799.50,27248.16,272030.47,200563.64,70398.75,14585.00,organic,2018
SouthCentral,52,2018-03-25,1.81,10323174.59,5160896.68,2390282.14,804558.25,4014132.29,3398569.92,1049435.14,108072.79,organic,2018
Southeast,52,2018-03-25,2.33,7545938.97,4492704.70,1537592.22,97111.62,2379984.02,1405622.59,1318520.16,92787.50,organic,2018
Spokane,52,2018-03-25,2.95,165785.94,46467.69,84741.31,6422.29,89795.19,75098.77,43887.36,331.90,organic,2018
StLouis,52,2018-03-25,2.84,348135.49,209893.28,80994.41,895.48,260500.63,225966.72,54426.61,18517.91,organic,2018
Syracuse,52,2018-03-25,2.44,113023.35,10004.38,78340.67,3980.63,35695.67,34559.23,22305.58,3005.00,organic,2018
Tampa,52,2018-03-25,3.17,893143.94,564685.19,200199.09,2087.35,260556.30,150022.99,150133.37,15976.67,organic,2018
TotalUS,52,2018-03-25,2.09,62505646.52,22743616.17,20470572.61,2546439.11,19373134.37,13384586.80,5719096.61,551693.65,organic,2018
West,52,2018-03-25,2.52,11274749.11,4377537.67,3872672.00,281618.20,4145406.70,2780258.77,2838239.39,26564.17,organic,2018
WestTexNewMexico,52,2018-03-25,2.93,1637554.42,1067388.68,376232.89,74916.26,424013.40,243993.80,287509.52,38120.00,organic,2018