# 2. 파이썬으로 데이터 주무르기, pandas
**pandas를 활용해서 데이터프레임을 다뤄봅시다.**

1. Pandas 시작하기
    - prerequisite : Table
    - pandas import하기
   
2. Pandas로 1차원 데이터 다루기 - Series 
    - Series 선언하기
    - Series vs ndarray
    - Series vs dict
    - Series에 이름 붙이기
3. Pandas로 2차원 데이터 다루기 - dataframe
    - dataframe 선언하기
    - from csv to dataframe
    - dataframe 자료 접근하기

[수업에 사용된 covid 데이터](https://www.kaggle.com/imdevskp/corona-virus-report)

## I. pandas 시작하기

### Prerequisite : Table

- 행과 열을 이용해서 데이터를 저장하고 관리하는 구조 (Container)
- 주로행은 개체, 열은 속성을 나타냄 (like excel)

### Pandas 시작하기

`import pandas`를 통해서 진행

In [1]:
import pandas as pd

## II. pandas로 1차원 데이터 다루기 - Series

### Series?

- 1-D labeled **array**
- 인덱스를 지정해 줄 수 있음

In [3]:
s = pd.Series([1,4,9,16,25])

s

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [4]:
t = pd.Series({'one':1, "two":2, 'three':3, 'four':4, 'five':5})

t

one      1
two      2
three    3
four     4
five     5
dtype: int64

### Series + Numpy

- Series는 ndarray와 유사하다

In [5]:
s[1]

4

In [6]:
t[1]

2

In [7]:
t[1:3]

two      2
three    3
dtype: int64

In [9]:
s[s > s.median()] # 자기 자신의 median(중앙값)보다 큰 값들만 가지고 와라

3    16
4    25
dtype: int64

In [12]:
s[[3,1,4]]

3    16
1     4
4    25
dtype: int64

In [13]:
import numpy as np
np.exp(s)

0    2.718282e+00
1    5.459815e+01
2    8.103084e+03
3    8.886111e+06
4    7.200490e+10
dtype: float64

In [15]:
s.dtype

dtype('int64')

### Series + dict

- Series는 **dict**와 유사하다

In [16]:
t['one']

1

In [17]:
# Series에 값 추가
t['six'] = 6

t

one      1
two      2
three    3
four     4
five     5
six      6
dtype: int64

In [18]:
'six' in t

True

In [19]:
'seven' in t

False

In [23]:
print(t.get('seven'))

None

In [24]:
t.get('seven',0)

0

### Series에 이름 붙이기

- `name`속성을 가지고 있다
- 처음 Series를 만들 때 이름을 붙일 수 있습니다

## III. Pandas로 2차원 데이터 다루기 - dataframe

## Mission:
### 1. covid 데이터에서 100 case 대비 사망률(`Deaths / 100 Cases`)이 가장 높은 국가는?

### 2. covid 데이터에서 신규 확진자가 없는 나라 중 WHO Region이 'Europe'를 모두 출력하면?  
Hint : 한 줄에 동시에 두가지 조건을 Apply하는 경우 Warning이 발생할 수 있습니다.

### 3. 다음 [데이터](https://www.kaggle.com/neuromusic/avocado-prices)를 이용해 각 Region별로 아보카도가 가장 비싼 평균가격(AveragePrice)을 출력하면?